<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head
        th:replace="~{fragments/header :: headerCode(title=${title}, pageMetaData=${pageMetaData},cPageMetaData=${cPageMetaData})}">
</head>
<body>
<!-- Dynamic navigation -->
<div
        th:replace="~{fragments/navigation :: navigationCode(pageMetaData=${pageMetaData},cPageMetaData=${cPageMetaData},navigation=${navigation})}">
</div>

<div class="container-fluid container-xxl">
    <div class="row">
        <div class="contact-header">
            <h2 class="text-white fw-bold" th:utext="${@webUtils.validateString(contentBlock1.content)}">About
                Clinical Trials</h2>
        </div>
    </div>

    <div class="row p-2 p-md-5 align-items-stretch" th:each="contentBlock : ${contentBlock2}">
        <div class="col-md-6 primary-bg-color p-5 rounded-start-4 no-border"
             th:each="slide : ${contentBlock.slide}">
            <h2 class="dark-secondary-text-color fw-bold" th:utext="${slide.slideContents[0].content}"></h2>
            <p class="text-white mt-4" th:utext="${slide.slideContents[1].content}"></p>
        </div>
        <div class="col-md-6 primary-bg-color overflow-hidden p-0 rounded-end-4 no-border"
             th:each="slide : ${contentBlock.slide}">
            <iframe class="wow animate__animated animate__fadeInRight" width="100%" height="100%"
                    th:src="${slide.slideContents[2].content}" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen=""
                    style="visibility: visible; animation-name: fadeInRight;"></iframe>
        </div>
    </div>

    <h2 class="dark-secondary-text-color fw-bold text-center mx-5" th:utext="${contentBlock3.content}"></h2>
    <p class="mx-5 regular-font text-center mt-4" th:utext="${contentBlock4.content}"></p>


    <div class="row p-2 p-md-5 gy-4" th:each="contentBlock : ${contentBlock5}">
        <div class="col-md-3" th:each="slide : ${contentBlock.slide}">
            <div class="phase-card">
                <div class="phase-card-header p-4">
                    <h4 class="text-white text-center fw-bold" th:utext="${slide.slideContents[0].content}"></h4>
                    <p class="dark-secondary-text-color text-center regular-font mt-2"
                       th:utext="${slide.slideContents[1].content}"></p>
                    <p class="text-center text-white px-3" th:utext="${slide.slideContents[2].content}"></p>
                </div>

                <div class="phase-card-footer">
                    <div class="text-center">
                        <img width="50" th:src="${@webUtils.validateString(slide.slideContents[3].content)}"
                             alt="Phase Image 1">
                        <p class="text-center text-white mt-2" style="font-size:13px"
                           th:utext="${slide.slideContents[4].content}"></p>
                    </div>
                    <div class="text-center">
                        <img th:src="${@webUtils.validateString(slide.slideContents[5].content)}"
                             alt="Phase Image 2">
                        <p class="text-center text-white mt-2" th:utext="${slide.slideContents[6].content}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2 class="dark-secondary-text-color fw-bold text-center mx-5" th:utext="${contentBlock6.content}"></h2>


    <div class="row p-2 p-md-5" th:each="contentBlock : ${contentBlock7}">
        <div class="col-md-7" th:each="slide : ${contentBlock.slide}">
            <h3 class="primary-text-color fw-bold wow animate__ animate__fadeInUp animated"
                style="visibility: visible; animation-name: fadeInUp;" th:utext="${slide.slideContents[0].content}">
            </h3>
            <p class="regular-font text-dark mt-4 wow animate__ animate__fadeInUp animated"
               style="visibility: visible; animation-name: fadeInUp;" th:utext="${slide.slideContents[1].content}">
            </p>
            <p class="regular-font text-dark mt-2 wow animate__ animate__fadeInUp animated"
               style="visibility: visible; animation-name: fadeInUp;" th:utext="${slide.slideContents[2].content}">
            </p>
        </div>
        <div class="col-md-5" th:each="slide : ${contentBlock.slide}">
            <img th:src="${slide.slideContents[3].content}" alt="" class="img-fluid">
        </div>
    </div>

    <h2 class="dark-secondary-text-color fw-bold text-center mx-5 mb-5" th:utext="${contentBlock8.content}"></h2>


    <div class="row p-2 p-md-5 gy-5" th:each="contentBlock : ${contentBlock9}">
        <div class="col-md-3" th:each="slide : ${contentBlock.slide}">
            <div class="step-card p-4 pt-5   position-relative" style="height:470px" data-wow-delay="0.1s">
                <div class="rounded-icon">
                    <img th:src="${slide.slideContents[0].content}" alt="">
                </div>
                <p class="text-white text-center regular-font mt-4 fs-5"
                   th:utext="${slide.slideContents[1].content}"></p>
                <p class="text-center text-white px-3 opacity-75" th:utext="${slide.slideContents[2].content}"></p>
            </div>
        </div>
    </div>

    <p class="mx-5 regular-font text-center wow animate__ animate__fadeInUp mt-4 animated"
       style="visibility: visible; animation-name: fadeInUp;" th:utext="${contentBlock10.content}">
    </p>

    <a href="#"
       class="d-block m-auto text-white rounded-3 text-decoration-none primary-bg-color joinAStudy-btn wow animate__ animate__fadeInUp animated"
       style="visibility: visible; animation-name: fadeInUp;">Join
        a
        Study</a>


    <div class="row primary-bg-color p-2 p-md-5 mt-5" th:each="contentBlock : ${contentBlock11}">
        <div class="col-md-6 mt-4 mt-0" th:each="slide : ${contentBlock.slide[0]}">
            <h1 class="dark-secondary-text-color wow animate__ animate__fadeInUp fw-bold animated"
                style="visibility: visible; animation-name: fadeInUp;" th:utext="${slide.slideContents[0].content}">
            </h1>
            </h1>
            <p th:utext="${slide.slideContents[1].content}"
               class="text-white mt-2 wow animate__ animate__fadeInUp animated"
               style="visibility: visible; animation-name: fadeInUp;">
            </p>
        </div>
        <div class="col-md-6 my-5 my-md-0" th:each="contentBlock : ${contentBlock12}">
            <div class="row gy-5">
                <div class="col-6 col-md-4" th:each="slide : ${contentBlock.slide}">
                    <div class="d-flex flex-column align-items-center justify-content-center gap-4 "
                         data-wow-delay="0.1s">
                        <img th:src="${slide.slideContents[0].content}" alt="">
                        <p th:utext="${slide.slideContents[1].content}" class="text-white text-center regular-font">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <h2 th:utext="${contentBlock13.content}"
        class="dark-secondary-text-color fw-bold text-center mx-5 wow animate__ animate__fadeInUp mt-5 animated"
        style="visibility: visible; animation-name: fadeInUp;">

    </h2>

    <h2 th:utext="${contentBlock14.content}"
        class="primary-text-color text-center mx-5 wow animate__ animate__fadeInUp mt-5 animated"
        style="visibility: visible; animation-name: fadeInUp;">

    </h2>

    <p th:utext="${contentBlock15.content}"
       class="mx-5 regular-font text-center wow animate__ animate__fadeInUp mt-4 animated"
       style="visibility: visible; animation-name: fadeInUp;"></p>

    <div class="row p-2 p-md-5" th:each="contentBlock : ${faqAllQuestions}">

        <div class="col-md-9 m-auto">
            <div class="accordion" id="faqParent">
                <div class="accordion-item mb-3" th:each="slide, iterStat : ${contentBlock.slide}">
                    <div th:if="${iterStat.index < 6}">
                        <h2 class="accordion-header">
                            <button th:utext="${slide.slideContents[0].content}"
                                    class="accordion-button regular-font collapsed" type="button"
                                    data-bs-toggle="collapse"
                                    th:data-bs-target="'#faq' + ${iterStat.index +1}" aria-expanded="false"
                                    th:aria-controls="'faq' + ${iterStat.index +1 }">
                            </button>
                        </h2>
                        <div th:id="'faq' + ${iterStat.index +1}" class="accordion-collapse collapse"
                             data-bs-parent="#faqParent">
                            <div class="accordion-body" th:utext="${slide.slideContents[1].content}">

                            </div>

                        </div>
                    </div>
                </div>
                <a href="faqs.html"
                   class="d-block ms-auto text-white rounded-3 text-decoration-none primary-bg-color joinAStudy-btn mt-5">See
                    More</a>

            </div>
        </div>

    </div>

</div>
<!--  Company Footert Area -->
<div class="row mt-5">


    <div th:replace="~{fragments/company-footer :: footerCode(cPageMetaData=${cPageMetaData})}"></div>
</div>

<!-- Footer -->
<div th:replace="~{fragments/footer :: footerCode(pageMetaData=${pageMetaData})}"></div>
</body>

</html>