<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: headerCode(title=${title}, pageMetaData=${pageMetaData},cPageMetaData=${cPageMetaData})}"></head>
<link rel="stylesheet" href="css/current-enrollment.css">
<body>
	<!-- Dynamic navigation -->
	<div th:replace="~{fragments/navigation :: navigationCode(pageMetaData=${pageMetaData}, navigation=${navigation})}">
	</div>
	
	<div class="row">
				<div class="contact-header">
					<h2 class="text-white fw-bold " th:utext="${@webUtils.validateString(contentBlock1.content)}">Currently
						Enrolling</h2>
				</div>
			</div>

	<div class="container-fluid container-xxl custom-interest-container">

		<!-- Are you Interested Area Start -->
		<div class="custom-interest-wrapper" th:each="contentBlock : ${contentBlock2}">
			<h4 class="secondary-text-color text-center fw-bold fs-4">Currently Enrolling</h4>
			<h3 class="custom-interest-heading wow animate__animated animate__fadeInUp text-center"
				th:utext="${@webUtils.validateString(contentBlock.slide[0].slideContents[0].content)}"></h3>
			<p class="custom-interest-text wow animate__animated animate__fadeInUp text-center mx-auto lh-lg"
			   th:utext="${@webUtils.validateString(contentBlock.slide[0].slideContents[1].content)}"></p>
		</div>
		<!-- Are you Interested Area End -->

		<!-- All Disease Container Start - Updated layout -->
		<div class="row custom-disease-container g-4" th:each="contentBlock : ${contentBlock3}">
			<div class="col-md-4 col-sm-6 col-12" th:each="slide : ${contentBlock.slide}">
				<div class="custom-disease-card shadow-sm p-3" th:attr="onclick='window.open(&quot;disease?page=' + ${@webUtils.validateString(slide.slideContents[2].content)} + '&quot;, &quot;_blank&quot;);'">
					<div class="custom-card-content d-flex align-items-center">
						<div class="custom-icon-wrapper me-3">
							<img class="custom-disease-img" th:src="${@webUtils.validateString(slide.slideContents[0].content)}" alt="">
						</div>
						<div class="custom-disease-title" th:utext="${@webUtils.validateString(slide.slideContents[1].content)}"
							 th:if="${#lists.size(slide.slideContents) > 2}">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- All Disease Container End -->
	</div>

	<!--  Company Footert Area -->
	        
			<div th:replace="~{fragments/company-footer :: footerCode(cPageMetaData=${cPageMetaData})}"></div>

	<!-- Footer -->
	<div th:replace="~{fragments/footer :: footerCode(pageMetaData=${pageMetaData})}"></div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
	<script>
		new WOW().init();
	</script>

</body>

</html>