<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: headerCode(title=${title}, pageMetaData=${pageMetaData})}"></head>

<body>
  <!-- Dynamic navigation -->
  <div th:replace="~{fragments/navigation :: navigationCode(pageMetaData=${pageMetaData}, navigation=${navigation})}"></div>

  <div class="container-fluid">
    <div class="row">
      <div class="contact-header">
        <h2 class="text-white fw-bold text-white fw-bold animate__animated animate__fadeInUp" th:utext="${@webUtils.validateString(contentBlock1.content)}"></h2>
      </div>
    </div>

    <h2 class="dark-secondary-text-color fw-bold text-center mx-5 wow animate__animated animate__fadeInUp mt-5"  style="visibility: visible; animation-name: fadeInUp;" th:utext="${contentBlock2.content}"></h2>
    <p class="mx-5 regular-font text-center wow animate__animated animate__fadeInUp mt-4" style="visibility: visible; animation-name: fadeInUp;"  th:utext="${contentBlock3.content}"></p>

    
	<div class="row p-2 p-md-5" th:each="contentBlock : ${faqAllQuestions}">
				<div class="col-md-9 m-auto">
					<div class="accordion" id="faqParent">
						<div class="accordion-item mb-3" th:each="slide, iterStat : ${contentBlock.slide}">
							<h2  class="accordion-header">
								<button th:utext="${slide.slideContents[0].content}"
									class="accordion-button regular-font collapsed" type="button" data-bs-toggle="collapse"
									th:data-bs-target="'#faq' + ${iterStat.index +1}" aria-expanded="false"
									th:aria-controls="'faq' + ${iterStat.index +1 }">
								</button>
							</h2>
							<div th:id="'faq' + ${iterStat.index +1}" class="accordion-collapse collapse"
								data-bs-parent="#faqParent">
								<div class="accordion-body" th:utext="${slide.slideContents[1].content}">

								</div>

							</div>
						</div>
					</div>
					

				</div>
			</div>
    <!-- Footer -->
    <div th:replace="~{fragments/footer :: footerCode(pageMetaData=${pageMetaData})}"></div>
  </div>
</body>
</html>
