<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerCode(title=${title}, pageMetaData=${pageMetaData})}"></head>
<body>
<!-- Dynamic navigation -->
<div th:replace="~{fragments/navigation :: navigationCode(pageMetaData=${pageMetaData}, navigation=${navigation})}"></div>

<div class="container-fluid">
    <div class="row py-5">
        <div class="col-md-8 m-auto">
            <div class="row">
                <div class="col-md-6 px-0">
                    <img src="image/01/WhatsApp-Image-2025-01-07-at-00.23.18_28992d3c.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-6 login-credentials p-5">
                    <h3>Forgot Password</h3>
                    <p class="text-muted regular-font">Please enter your Credentials</p>
                    <form method="post" role="form" id="forgotPassword">
                        <div class="mt-5 login-input">
                            <svg class="start-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="14" viewBox="0 0 18 14" fill="none">
                                <path d="M9 7.875L0 2.415V1.75C0 0.77875 0.801 0 1.8 0H16.2C16.6774 0 17.1352 0.184374 17.4728 0.512563C17.8104 0.840752 18 1.28587 18 1.75V2.40625L9 7.875ZM18 12.25C18 12.7141 17.8104 13.1592 17.4728 13.4874C17.1352 13.8156 16.6774 14 16.2 14H1.8C1.32261 14 0.864773 13.8156 0.527208 13.4874C0.189642 13.1592 0 12.7141 0 12.25V4.47125L1.8 5.565V12.25H16.2V5.565L18 4.47125V12.25Z" fill="#838383"></path>
                            </svg>
                            <input type="email" id="username" name="username" placeholder="Email" required>
                        </div>

                        <div id="addBlocks">
                        </div>

                        <div style="font-size: 0.9rem;" id="message">

                        </div>
                        <div id="btnDiv">
                            <button type="submit" id="verifyEmail" class="login-btn d-block w-100 mt-4 fw-medium mb-2">Verify Email</button>
                        </div>
                        <p class="ms-auto d-block text-end text-muted">
                            Password recovered?
                            <a href="/login" class="text-decoration-none mt-3">Login Now</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- Footer -->
<div th:replace="~{fragments/footer :: footerCode(pageMetaData=${pageMetaData})}"></div>
<script src="registration_form/js/jquery-2.2.3.min.js"></script>
<script src="js/forgot_password.js"></script>
</body>
</html>
