<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: headerCode(title=${title}, pageMetaData=${pageMetaData}, cPageMetaData=${cPageMetaData})}"></head>
<link rel="stylesheet" href="css/job.css">
<style>
    #formMessage.success {
    color: green;
}
#formMessage.error {
    color: red;
}
</style>
<body>
<!-- Navigation -->
<div th:replace="~{fragments/navigation :: navigationCode(pageMetaData=${pageMetaData}, cPageMetaData=${cPageMetaData}, navigation=${navigation})}"></div>

<div class="row mb-5">
    <div class="contact-header">
        <h2 class="text-white fw-bold animate__animated animate__fadeInUp" >Job Details</h2>
    </div>
</div>

<div class="container-fluid container-xxl">
    <div class="row">
        <h2 class="card-title fw-bold mt-2 fs-2 primary-text-color wow animate__ animate__fadeInUp m-4"
            th:utext="${contentBlock1.content}">Job Title</h2>

        <!-- Job Details Column -->
        <div class="job-details col-md-4 p-5 mt-2">
            <th:bock th:each="contentBlock : ${contentBlock2}">
            <div class="job-detail" th:each="slide : ${contentBlock.slide}">
                    <label th:text="${slide.slideContents[0].content}">Label</label>
                    <p th:text="${slide.slideContents[1].content}">Value</p>
                    <div class="underline"></div>
            </div>
            </th:bock>
        </div>

        <!-- Tabbed Section Column -->
        <div class="col-md-6">
            <section>
                <ul class="nav nav-tabs mb-3" id="jobTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab">Overview</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="application-tab" data-bs-toggle="tab" data-bs-target="#application" type="button" role="tab">Application</button>
                    </li>
                </ul>

                <div class="tab-content" id="jobTabContent">
                    <!-- Overview Tab -->
                    <div class="tab-pane fade" id="overview" role="tabpanel">
                        <div class="container my-4" >
                            <th:block th:utext="${contentBlock3.slide[0].slideContents[0].content}"></th:block>
                        </div>
                    </div>

                    <!-- Application Tab -->
                    <div class="tab-pane fade show active mb-5" id="application" role="tabpanel">
                        <form action="#" method="POST" enctype="multipart/form-data" id="job_application" onsubmit="return false">
                            <div class="form-group">
                                <label for="name">Name *</label>
                                <input type="text" id="name" name="name" minlength="2" maxlength="50" required/>
                                <p class="error-msg text-danger"></p>
                            </div>

                            <div class="form-group">
                                <label for="email">Email *</label>
                                <input type="email" id="email" name="email" minlength="6" maxlength="60" required/>
                                <p class="error-msg text-danger"></p>
                            </div>

                            <label for="resume-upload">Resume *</label>
                            <label class="upload-box mb-2 file-upload" for="resume-upload">
                                <span class="upload-btn">📎 Upload File</span>
                                <span class="upload-text">or drag or drop here</span>
                                <input type="file" class="upload-input" name="resume" accept=".pdf" required />
                                <div class="file-name"></div>
                                <div class="error-msg">Invalid file. Only PDF files under 1MB are allowed.</div>
                            </label>
                            <div class="form-group">
                                <label for="phone">Phone*</label>
                                <input type="text" id="phone" name="phone" pattern="[\+\-0-9]*" minlength="8" maxlength="20" required/>
                                <p class="error-msg text-danger"></p>
                            </div>

                            <label for="cover-letter-upload">Cover Letter (Optional)</label>
                            <label class="upload-box mb-2 file-upload" for="cover-letter-upload">
                                <span class="upload-btn">📎 Upload File</span>
                                <span class="upload-text">or drag or drop here</span>
                                <input type="file" class="upload-input" name="coverLetter" accept=".pdf" />
                                <div class="file-name"></div>
                                <div class="error-msg">Invalid file. Only PDF files under 1MB are allowed.</div>
                            </label>

                            <div class="form-group">
                                <label> Are you currently eligible to work in the United States of America? *
                                </label>
                                <div class="radio-toggle">
                                    <input type="radio" id="eligible-yes" name="eligibility" value="true">
                                    <label for="eligible-yes">Yes</label>

                                    <input type="radio" id="eligible-no" name="eligibility" value="false">
                                    <label for="eligible-no">No</label>
                                </div>
                                <p class="error-msg text-danger"></p>
                            </div>

                            <div class="form-group">
                                <label>Do you now or in the future require visa sponsorship to continue
                                    working in the United States? *</label>
                                <div class="radio-toggle">
                                    <input type="radio" id="visa-yes" name="visa" value="true" required>
                                    <label for="visa-yes">Yes</label>

                                    <input type="radio" id="visa-no" name="visa" value="false">
                                    <label for="visa-no">No</label>
                                </div>
                                <p class="error-msg text-danger"></p>
                            </div>

                            <div class="form-group">
                                <label>Do you currently live within the United States? *</label>
                                <div class="radio-toggle">
                                    <input type="radio" id="reside-yes" name="reside" value="true" required>
                                    <label for="reside-yes">Yes</label>

                                    <input type="radio" id="reside-no" name="reside" value="false">
                                    <label for="reside-no">No</label>
                                </div>
                                <p class="error-msg text-danger"></p>
                            </div>

                            <div class="form-group">
                                <label for="compensation">What are your compensation expectations? *</label>
                                <input type="text" id="compensation" name="compensation" minlength="5" maxlength="60"/>
                                <p class="error-msg text-danger"></p>
                            </div>

                            <p id="formMessage" style="margin-top: 10px;"></p>

                            <input type="hidden" name="jobTitle" th:value="${contentBlock1.content}" />
                            <input type="hidden" name="pageName" th:value="${param.page[0]}" />

                            <button type="button" id="submit" class="btn primary-bg-color text-white">Submit Application</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- Footer -->
<div th:replace="~{fragments/company-footer :: footerCode(cPageMetaData=${cPageMetaData})}"></div>

<div th:replace="~{fragments/footer :: footerCode(pageMetaData=${pageMetaData})}"></div>

<script type="text/javascript" src="/registration_form/js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="/js/job.js"></script>
</body>
</html>
