<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: headerCode(title=${title}, pageMetaData=${pageMetaData}, cPageMetaData=${cPageMetaData})}"></head>
<link rel="stylesheet" href="css/job.css">
<body>
<!-- Navigation -->
<div th:replace="~{fragments/navigation :: navigationCode(pageMetaData=${pageMetaData}, cPageMetaData=${cPageMetaData}, navigation=${navigation})}"></div>

<div class="row mb-5">
    <div class="contact-header">
        <h2 class="text-white fw-bold animate__animated animate__fadeInUp"></h2>
    </div>
</div>

<div class="container-fluid container-xxl">

    <div class="row">
        <h2 class="card-title fw-bold mt-2 fs-2 primary-text-color wow animate__ animate__fadeInUp m-4" style="visibility: visible; animation-name: fadeInUp;"> Human Resouce Specialist
        </h2>
        <div class="job-details col-md-4 p-5 mt-2">
            <div class="job-detail">
                <label>Location</label>
                <p>Pearland, TX</p>
                <div class="underline"></div>
            </div>

            <div class="job-detail">
                <label>Employement Type</label>
                <p>Full Time</p>
                <div class="underline"></div>
            </div>

            <div class="job-detail">
                <label>Location Type</label>
                <p>On-site</p>
                <div class="underline"></div>
            </div>

            <div class="job-detail">
                <label>Job Title</label>
                <p>Human Resource Specialist</p>
                <div class="underline"></div>
            </div>

            <div class="job-detail">
                <label>Deadline to Apply</label>
                <p>April 18, 2025 at 4:00 PM CDT</p>
                <div class="underline"></div>
            </div>

            <div class="job-detail">
                <label>Compensation</label>
                <p>$45,000.00 - $55,000.00 per year</p>
                <div class="underline"></div>
            </div>

            <div class="job-detail">
                <label>Schedule</label>
                <p>Monday - Friday</p>
                <div class="underline"></div>
            </div>
        </div>
        <div class="col-md-6 ">

            <section>

                <ul class="nav nav-tabs mb-3" id="jobTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab">Overview</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="application-tab" data-bs-toggle="tab" data-bs-target="#application" type="button" role="tab">Application</button>
                    </li>
                </ul>

                <div class="tab-content" id="jobTabContent">
                    <div class="tab-pane fade" id="overview" role="tabpanel">
                        <div class="container my-4">
                            <p>
                                We are seeking a dedicated and knowledgeable <strong>Human Resources Generalist</strong> to join our team. This role is essential in supporting our HR functions and ensuring a positive work environment. The ideal candidate will have a strong background in various HR disciplines, including talent management, performance management, and administrative tasks. You will play a crucial role in fostering a culture of engagement and compliance within the organization.
                            </p>

                            <h5 class="mt-4"><strong>Key Responsibilities</strong></h5>
                            <ul>
                                <li>Generating official internal documents such as offer letters, appointment letters, salary slips and warning letters</li>
                                <li>Creating onboarding plans and educating newly hired employees on HR policies, internal procedures and regulations</li>
                                <li>Maintaining physical and digital files for employees and their documents, benefits and attendance records</li>
                                <li>Creating employee engagement plans, getting necessary budget approval and initiating activities</li>
                                <li>Collaborating with outside vendors, upper management and employees to maintain CSR standards conscripted by authorities</li>
                                <li>Evaluating employee performance and appraising their pay scale accordingly</li>
                                <li>Taking appropriate disciplinary action against employees who violate rules and regulations and addressing employee grievances</li>
                                <li>Successfully process Payroll and timesheet activities</li>
                                <li>Conduct employee onboarding</li>
                                <li>Presents new-hire orientation and benefits explanation</li>
                                <li>Maintain knowledge of personnel changes</li>
                                <li>Address baseline employee relations concerns</li>
                                <li>Ability to compartmentalize information and maintain strict confidentiality</li>
                                <li>Self-directed and possesses a high level of productivity and personal organization while dealing with frequent interruptions</li>
                                <li>Plans and organizes tasks & work responsibilities to achieve goals and objectives while remaining calm & professional under pressure</li>
                            </ul>

                            <h5 class="mt-4"><strong>Qualifications</strong></h5>
                            <ul>
                                <li>Bachelor's degree in Human Resources or related field</li>
                                <li>Two years of Human Resources experience</li>
                            </ul>
                        </div>

                    </div>
                    <div class="tab-pane fade show active mb-5" id="application" role="tabpanel">
                        <form action="#" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="name">Name*</label>
                                <input type="text" id="name" name="name" minlength="2" maxlength="50" required/>
                                <p class="error-msg text-danger"></p>
                            </div>

                            <div class="form-group">
                                <label for="email">Email*</label>
                                <input type="email" id="email" name="email" minlength="6" maxlength="60" required/>
                                <p class="error-msg text-danger"></p>
                            </div>

                            <label for="resume-upload">Resume*</label>
                            <label class="upload-box mb-2 file-upload" for="resume-upload">
                                <span class="upload-btn">📎 Upload File</span>
                                <span class="upload-text">or drag or drop here</span>
                                <input type="file" class="upload-input" name="resume" accept=".pdf" required />
                                <div class="file-name"></div>
                                <div class="error-msg">Invalid file. Only PDF files under 1MB are allowed.</div>
                            </label>
                            <div class="form-group">
                                <label for="phone">Phone*</label>
                                <input type="text" id="phone" name="phone" pattern="[\+\-0-9]*" minlength="8" maxlength="20" required/>
                                <p class="error-msg text-danger"></p>
                            </div>

                            <label for="cover-letter-upload">Cover Letter*</label>
                            <label class="upload-box mb-2 file-upload" for="cover-letter-upload">
                                <span class="upload-btn">📎 Upload File</span>
                                <span class="upload-text">or drag or drop here</span>
                                <input type="file" class="upload-input" name="coverLetter" accept=".pdf" required />
                                <div class="file-name"></div>
                                <div class="error-msg">Invalid file. Only PDF files under 1MB are allowed.</div>
                            </label>

                            <div class="form-group">
                                <label> Are you currently eligible to work in the United States of America?
                                </label>
                                <div class="radio-toggle">
                                    <input type="radio" id="eligible-yes" name="eligibility" value="yes">
                                    <label for="eligible-yes">Yes</label>

                                    <input type="radio" id="eligible-no" name="eligibility" value="no">
                                    <label for="eligible-no">No</label>
                                </div>
                                <p class="error-msg text-danger"></p>
                            </div>

                            <div class="form-group">
                                <label>Do you now or in the future require visa sponsorship to continue
                                    working in the United States?</label>
                                <div class="radio-toggle">
                                    <input type="radio" id="visa-yes" name="visa" value="Yes" required>
                                    <label for="visa-yes">Yes</label>

                                    <input type="radio" id="visa-no" name="visa" value="No">
                                    <label for="visa-no">No</label>
                                </div>
                                <p class="error-msg text-danger"></p>
                            </div>

                            <div class="form-group">
                                <label>Do you currently live within the United States?</label>
                                <div class="radio-toggle">
                                    <input type="radio" id="reside-yes" name="reside" value="Yes" required>
                                    <label for="reside-yes">Yes</label>

                                    <input type="radio" id="reside-no" name="reside" value="No">
                                    <label for="reside-no">No</label>
                                </div>
                                <p class="error-msg text-danger"></p>
                            </div>

                            <div class="form-group">
                                <label for="compensation">What are your compensation expectations?</label>
                                <input type="text" id="compensation" name="compensation" minlength="5" maxlength="100"/>
                                <p class="error-msg text-danger"></p>
                            </div>

                            <button type="submit" id="submit" class="btn primary-bg-color text-white">Submit Application</button>
                        </form>
                    </div>
                </div>

            </section>
        </div>

    </div>
</div>
<!-- Company Footer Section -->
<div th:replace="~{fragments/company-footer :: footerCode(cPageMetaData=${cPageMetaData})}"></div>
<!-- Footer -->
<div th:replace="~{fragments/footer :: footerCode(pageMetaData=${pageMetaData})}"></div>

<script type="text/javascript" src="/registration_form/js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="/js/job.js"></script>

</body>
</html>