<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: headerCode(title=${title}, pageMetaData=${pageMetaData},cPageMetaData=${cPageMetaData})}"></head>

<body>
  <!-- Dynamic navigation -->
  <div th:replace="~{fragments/navigation :: navigationCode(pageMetaData=${pageMetaData}, navigation=${navigation})}"></div>
  <div class="row mb-5">
        <div class="contact-header">
          <h2 class="text-white fw-bold" th:utext="${@webUtils.validateString(contentBlock1.content)}">
            Join a Clinical Trial
          </h2>
        </div>
      </div>

  <div class="container-fluid container-xxl">
    <!-- Page Header -->
    
    <!-- Main Content: Intro Text and Image -->
	
    <div class="row p-5" th:each="contentBlock : ${contentBlock2}">
      <!-- Left Column: Text Content -->
      <div class="col-lg-6" th:each="slide : ${contentBlock.slide}">
        <h2 class="dark-secondary-text-color fw-bold wow animate__animated animate__fadeInUp"
            th:utext="${slide.slideContents[0].content}">
        </h2>
        <p class="regular-font text-dark mt-3 lh-lg" th:utext="${slide.slideContents[1].content}">
        </p>
        <p class="regular-font text-dark mt-3 lh-lg" th:utext="${slide.slideContents[2].content}">
        </p>
        <p class="regular-font text-dark mt-3 lh-lg" th:utext="${slide.slideContents[3].content}">
        </p>
      </div>
      <!-- Right Column: Image -->
      <div class="col-lg-6 d-flex align-items-center justify-content-center" th:each="slide : ${contentBlock.slide}">
        <img th:src="${slide.slideContents[4].content}" alt="Join a Clinical Trial"
             height="400" width="400" class="rounded-circle object-fit-cover">
      </div>
    </div>

    <!-- Participation Call-to-Action Section -->
    <div class="my-5" th:each="contentBlock : ${contentBlock3}">
      <h2 class="dark-secondary-text-color fw-bold text-center"
          th:utext="${contentBlock.slide[0].slideContents[0].content}">
        Interested in participating?
      </h2>
      <p class="regular-font text-dark mt-4 w-75 text-center mx-auto lh-lg"
         th:utext="${contentBlock.slide[0].slideContents[1].content}">
         <!-- Example: Visit our current studies page to find a trial that fits your needs... -->
      </p>
      <a href="#"
         class="d-block m-auto text-white rounded-3 text-decoration-none primary-bg-color joinAStudy-btn mt-5"
         th:utext="${contentBlock.slide[0].slideContents[2].content}">
         Find a Trial
      </a>
    </div>

    
  </div>

  <!-- Company Footer Section -->

  <div th:replace="~{fragments/company-footer :: footerCode(cPageMetaData=${cPageMetaData})}"></div>
  <!-- Footer -->
  <div th:replace="~{fragments/footer :: footerCode(pageMetaData=${pageMetaData})}"></div>
</body>

</html>
