<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: headerCode(title=${title}, pageMetaData=${pageMetaData},cPageMetaData=${cPageMetaData})}"></head>
<link rel="stylesheet" href="css/join-clinical-trial.css">
<body>
  <!-- Dynamic navigation -->
  <div th:replace="~{fragments/navigation :: navigationCode(pageMetaData=${pageMetaData}, navigation=${navigation})}"></div>
  <div class="row mb-5">
        <div class="contact-header">
          <h2 class="text-white fw-bold animate__animated animate__fadeInUp" th:utext="${@webUtils.validateString(contentBlock1.content)}">
            Join a Clinical Trial
          </h2>
        </div>
      </div>

  <div class="container-fluid container-xxl container-join-trial">
    <!-- Page Header -->
    <!-- Main Content: Intro Text and Image -->
    <div class="row p-2" th:each="contentBlock : ${contentBlock2}">
      <!-- Left Column: Text Content -->
      <div class="col-lg-7" th:each="slide : ${contentBlock.slide}">
        <p class="join-trial-text primary-text-color mt-3 wow animate__animated animate__fadeInUp fw-bold fs-5" th:utext="${slide.slideContents[0].content}">
        </p>

        <h2 class="join-trial-heading dark-secondary-text-color fw-bold wow animate__animated animate__fadeInUp"
            th:utext="${slide.slideContents[1].content}">
        </h2>

        <p class="join-trial-text text-dark mt-3 wow animate__animated animate__fadeInUp" th:utext="${slide.slideContents[2].content}">
        </p>
        <p class="join-trial-text text-dark mt-3 wow animate__animated animate__fadeInUp" th:utext="${slide.slideContents[4].content}">
        </p>
        <p class="join-trial-text text-dark mt-3 wow animate__animated animate__fadeInUp" th:utext="${slide.slideContents[5].content}">
        </p>
      </div>
      <!-- Right Column: Image -->
      <div class="col-lg-5 d-flex align-items-center justify-content-center" th:each="slide : ${contentBlock.slide}">
        <img th:src="${slide.slideContents[3].content}" alt="Join a Clinical Trial"
             class="rounded-circle trial-image">
      </div>
    </div>

    <!-- Participation Call-to-Action Section -->
    <div class="my-5" th:each="contentBlock : ${contentBlock3}">
      <h2 class="join-trial-heading dark-secondary-text-color fw-bold text-center"
          th:utext="${@webUtils.validateString(contentBlock.slide[0].slideTitle)}">
        Interested in participating?
      </h2>

      <th:block th:each="slideContent : ${contentBlock.slide[1].slideContents}">
        <p class="join-trial-text text-dark mt-3 text-center wow animate__animated animate__fadeInUp" th:utext="${@webUtils.validateString(slideContent.content)}">
        </p>
      </th:block>

      <th:block th:each="slide : ${contentBlock.slide[2]}">
        <a th:href="${@webUtils.validateString(slide.slideContents[1].content)}"
           class="d-block m-auto text-white rounded-3 text-decoration-none primary-bg-color joinAStudy-btn mt-5"
           th:utext="${@webUtils.validateString(slide.slideContents[0].content)}">
          Find a Trial
        </a>
      </th:block>
    </div>
  </div>

  <!-- Company Footer Section -->

  <div th:replace="~{fragments/company-footer :: footerCode(cPageMetaData=${cPageMetaData})}"></div>
  <!-- Footer -->
  <div th:replace="~{fragments/footer :: footerCode(pageMetaData=${pageMetaData})}"></div>
</body>

</html>
