<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head
        th:replace="~{fragments/header :: headerCode(title=${title}, pageMetaData=${pageMetaData},cPageMetaData=${cPageMetaData})}">
</head>

<body>
<!-- Dynamic navigation -->
<div
        th:replace="~{fragments/navigation :: navigationCode(pageMetaData=${pageMetaData},cPageMetaData=${cPageMetaData},navigation=${navigation})}">
</div>


<div class="container-fluid">
    <!--
      <div class="row mb-5">
        <div class="contact-header">
          <h2 class="text-white fw-bold animate__animated animate__fadeInUp">Become a Principal Investigator</h2>
        </div>
      </div>
    -->

    <div class="row p-2 p-md-1 align-items-stretch" th:each="contentBlock : ${contentBlock1}">
        <th:block th:each="slide : ${contentBlock.slide}">
        <div style="position: absolute; height: 100%; width: 100%; display: flex; align-items: center;justify-content: center;">
            <h2 class="dark-secondary-text-color   fw-bold" style="font-size: 50px;" th:utext="${@webUtils.validateString(slide.slideContents[0].content)}">Meet the Founders</h2>
        </div>
        <div class="col-md-6" style="padding: 0px;">
            <img th:src="${@webUtils.validateString(slide.slideContents[1].content)}" src="image/banner2.png" width="100%">
        </div>
        <div class="col-md-6" style="padding: 0px;">
            <img th:src="${@webUtils.validateString(slide.slideContents[2].content)}" src="image/banner.png" width="100%">
        </div>
        </th:block>
    </div>

    <div class="container">
        <h3  th:utext="${@webUtils.validateString(contentBlock2.content)}" class="  fw-bold text-center mt-5" style="color: #20385D;">
            Together Hussein and Mustafa have dedicated over 15 years to
            the field of clinical research, striving to deliver inclusive and
            high-quality clinical research to the Houston area.
        </h3>

    </div>


    <div class="container">
        <h5  th:utext="${@webUtils.validateString(contentBlock3.content)}" class="text-center mt-5">
            Header Text

        </h5>
    </div>

    <div class="container">
        <div class="row p-2 p-md-1 mt-5 align-items-stretch" th:each="contentBlock : ${contentBlock4}" th:with="slide = ${contentBlock.slide[0]}">
            <div class="col-md-3 overflow-hidden p-0 rounded-end-4 no-border align-items-center">
                <img th:src="${@webUtils.validateString(slide.slideContents[0].content)}" alt="" class="wow animate__animated animate__fadeInRight object-fit-cover ms-auto d-block rounded-start-5">
            </div>

            <div class="col-md-9 rounded-start-4 no-border ps-lg-4">
                <h2 class="dark-secondary-text-color fw-bold" th:utext="${@webUtils.validateString(slide.slideContents[1].content)}"></h2>
                <h5 class="fw-bold" style="color: #20385D;" th:utext="${@webUtils.validateString(slide.slideContents[2].content)}"></h5>
                <p class="mt-1 animate__animated animate__fadeInUp w-100 m-auto wow animate__ animate__fadeInUp d animated" th:utext="${@webUtils.validateString(slide.slideContents[3].content)}"></p>
<!--                <a th:href="${@webUtils.validateString(slide.slideContents[4].content)}" target="_blank" class="btn text-white wow animate__animated animate__fadeInUp mt-4 health-card-btn px-4 fw-medium">Learn More</a>-->
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div th:replace="~{fragments/company-footer :: footerCode(cPageMetaData=${cPageMetaData})}"></div>
    </div>
</div>

<!-- Footer -->
<div th:replace="~{fragments/footer :: footerCode(pageMetaData=${pageMetaData})}"></div>
</body>

</html>