<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: headerCode(title=${title}, pageMetaData=${pageMetaData}, cPageMetaData=${cPageMetaData})}"></head>

<style>
    .investigator {
        background-color: rgb(196, 196, 196);
    }

    .intro p {
        font-size:14px; padding: 0 125px 0px 0; text-align: justify;
    }
</style>

<body>
<!-- Dynamic navigation -->
<div th:replace="~{fragments/navigation :: navigationCode(pageMetaData=${pageMetaData}, cPageMetaData=${cPageMetaData}, navigation=${navigation})}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="investigator-header">
            <h2 class="text-white fw-bold animate__animated animate__fadeInUp">Principal Investigators</h2>
        </div>
    </div>

    <div class="row col-md-12">
        <div th:replace="~{fragments/principal-Investigators-navigation :: piNavigation(pi_Navigation=${pi_Navigation}, navigTitle=${@webUtils.validateString(contentBlock1.content)})}"></div>

        <div class="col-md-9">
            <div class="row my-5 p-2" th:each="contentBlock : ${contentBlock2}">
                <th:block th:each="slide, blockStat : ${contentBlock.slide}">
                <div class="col-md-3 d-flex align-items-center justify-content-md-end justify-content-center">
                    <img th:src="${@webUtils.validateString(slide.slideContents[0].content)}" alt="" style="width: 80%;" class="rounded investigator">
                </div>
                <div class="col-md-9 mt-3 mt-md-0 intro">
                    <h5 class="card-title fw-bold mt-2 fs-4 primary-text-color wow animate__ animate__fadeInUp animated" th:utext="${@webUtils.validateString(slide.slideContents[1].content)}"></h5>
                    <p class="text-muted mt-3" th:utext="${@webUtils.validateString(slide.slideContents[2].content)}"></p>
                    <p class="text-muted mt-3" th:if="${slide.slideContents.size() > 3}" th:utext="${@webUtils.validateString(slide.slideContents[3].content)}"></p>
                    <p class="text-muted mt-3" th:if="${slide.slideContents.size() > 4}" th:utext="${@webUtils.validateString(slide.slideContents[4].content)}"></p>
                    <p class="text-muted mt-3" th:if="${slide.slideContents.size() > 5}" th:utext="${@webUtils.validateString(slide.slideContents[5].content)}"></p>
                </div>
                </th:block>
            </div>
        </div>
    </div>

    <!-- Company Footer Area -->
    <div class="row mt-5">
        <div th:replace="~{fragments/company-footer :: footerCode(cPageMetaData=${cPageMetaData})}"></div>
    </div>

    <!-- Footer -->
    <div th:replace="~{fragments/footer :: footerCode(pageMetaData=${pageMetaData})}"></div>
</div>

</body>

</html>
