<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head
        th:replace="~{fragments/header :: headerCode(title=${title}, pageMetaData=${pageMetaData},cPageMetaData=${cPageMetaData})}">
</head>

<body>
<!-- Dynamic navigation -->
<div
        th:replace="~{fragments/navigation :: navigationCode(pageMetaData=${pageMetaData},cPageMetaData=${cPageMetaData},navigation=${navigation})}">
</div>

<div style="margin:0px 50px 0px 50px">
  <div class="row pt-1 p-md-5 align-items-stretch">
    <div class="col-md-7 primary-bg-color p-4 rounded-start-4 no-border">
      <h4 class="dark-secondary-text-color animate__animated animate__fadeInUp  fw-bold ">
        Our Story
      </h4>
      <h2 class="dark-secondary-text-color animate__animated animate__fadeInUp  fw-bold">
        Where Compassion <br> Meets
        Innovation.</br>
      </h2>
      <p class="text-white mt-4 animate__animated animate__fadeInUp  w-100 m-auto">
        In 2014, Hussein Aladin and Mustafa Noorbhai founded LINQ
        Research LLC with a shared vision in mind: to shape the future of
        healthcare through a supportive, informative, and data-driven
        clinical research environment.
      </p>
      <p class="text-white mt-4 animate__animated animate__fadeInUp  w-100 m-auto">
        For over a decade, we've called Pearland, Texas our home, and
        we've grown significantly, now expanding rapidly across the
        greater Houston area. Over time our expertise has broadened
        to encompass a wide range of therapeutic areas, including
        internal medicine, vaccines, gastroenterology (GI),
        pulmonology, women’s health, and more.
      </p>
      <p class="text-white mt-4 animate__animated animate__fadeInUp  w-100 m-auto">
        Our research team consists of experienced clinical research
        site manager, clinical research coordinators, patient
        enrollment specialists, and regulatory experts who work
        collaboratively with sponsors and physicians to manage every
        aspect of clinical trials efficiently. Our principal Investigators
        (PI) and research team ensures the patient experience is at
        forefront and the integrity of the clinical trial data remains
        high.
      </p>
    </div>

    <div class="col-md-5 primary-bg-color d-flex rounded-end-4 p-0">
      <div id="carouselExample" class="carousel slide meet-founder">
        <div class="carousel-inner" style="text-align: right;">
          <!--
                    <div class="overlay">
                      <h2>Hussein Aladin</h2>
                      <p>Co-Founder/ CEO</p>
                  </div>
          -->
          <div class="carousel-item image">
            <!-- <div class="position-relative m-5">
              <div
                class="position-absolute oval-shape d-flex flex-column align-items-center justify-content-center pt-3">
                <h4 class="text-center fw-bold mb-2">Hussein Aladin</h4>
                <p>Co-founder / CEO</p>
              </div>
              <img src="image/owner.svg" alt="">
            </div> -->
            <div class="position-relative founder-img">
              <img src="image/Hussein-Aladin.png" alt="">
            </div>
          </div>
          <div class="carousel-item active">
            <div class="position-relative founder-img">
              <img src="image/Hussein-Aladin.png" alt="">
            </div>
          </div>
        </div>
        <!--
                <button class="carousel-control-prev prev-icons" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
        -->
        <!--
                <button class="carousel-control-next next-icons" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
        -->
      </div>
    </div>
  </div>
</div>



<div class="my-5 w-75 m-auto text-center mt-2">
  <h4 class="dark-secondary-text-color fw-bold text-center mt-1">
    Our Mission
  </h4>
  <h2 class="card-title fw-bold mt-2 fs-2 primary-text-color wow animate__ animate__fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
    Empowering Patients,
    Advancing Medicine,<br>
    Inspiring Hope.
  </h2>
  <p class="text-muted mt-3 " style="font-size:16px">
    We provide comprehensive support systems to ensure that
    patients feel informed, comfortable, and cared for throughout
    their participation in our trials. Our dedicated patient support
    teams are always available to offer assistance and guidance, ensuring that patients never feel alone on their journey.
  </p>

  <p class="text-muted mt-3 " style="font-size:16px">
    Our mission is to empower patients with early access to life-changing medicines through clinical trials, always prioritizing patient safety and well-being. We are dedicated to advancing medical innovation and providing hope, health, and healing long before treatments become publicly available.
  </p>

  <p class="text-muted mt-3 " style="font-size:16px">
    Our unwavering commitment to patient safety and well-being is
    the cornerstone of our mission. Every decision we make is guided
    by the principle of putting patients first. We understand that
    participating in a clinical trial can be a significant decision for
    patients and their families, and we strive to make this experience
    as positive and supportive as possible.</p>


</div>

<div class="row my-5">
  <div class="col-md-7 m-auto shadow rounded-4 p-3">
    <video width="100%" height="400" controls="" class="rounded-2">
      <source src="https://linqresearchllc.com/wp-content/uploads/2024/08/WhatsApp-Video-2024-08-06-at-20.13.00.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</div>

<div class="my-5 w-75 m-auto text-center mt-2">
  <h2 class="dark-secondary-text-color fw-bold text-center mt-1">
    Innovating for a Healthier, Inclusive Tomorrow
  </h2>
  <p class="text-muted mt-3 " style="font-size:16px">
    We envision a future where clinical trials are accessible to all. We believe that
    every individual, regardless of their background, should have the opportunity
    to benefit from medical advancements.
  </p>

  <p class="text-muted mt-3 " style="font-size:16px">
    Our commitment to diversity in clinical trials is not just about immediate
    research outcomes; it is about fostering long-term health equity. By
    prioritizing inclusivity and actively reaching out to underserved communities, we strive to ensure that our research findings are applicable to a broad range of populations, improving healthcare outcomes for everyone. By embracing diversity and inclusion in our clinical trials, we are not only advancing medical research but also paving the way for a healthier, more equitable future for all.</p>


</div>

<div th:replace="~{fragments/company-footer :: footerCode(cPageMetaData=${cPageMetaData})}"></div>

<!-- Footer -->
<div th:replace="~{fragments/footer :: footerCode(pageMetaData=${pageMetaData})}"></div>
</body>

</html>