<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: headerCode(title=${title}, pageMetaData=${pageMetaData}, cPageMetaData=${cPageMetaData})}"></head>
<link rel="stylesheet" href="css/become-principle.css">
<link rel="stylesheet" href="css/investigators.css">
<body>
<!-- Navigation -->
<div th:replace="~{fragments/navigation :: navigationCode(pageMetaData=${pageMetaData}, cPageMetaData=${cPageMetaData}, navigation=${navigation})}"></div>

<div class="row mb-5">
    <div class="contact-header">
        <h2 class="text-white fw-bold animate__animated animate__fadeInUp" th:utext="${@webUtils.validateString(contentBlock1.content)}"></h2>
    </div>
</div>

<div class="container-fluid container-xxl">
    <!-- Principal Investigator CTA Section -->
    <div class="row p-2 p-md-1 align-items-stretch" th:each="contentBlock : ${contentBlock2}" th:with="slide = ${contentBlock.slide[0]}">
        <div class="col-md-6 primary-bg-color p-5 rounded-start-4 no-border">
            <h4 class="text-white fw-bold" th:utext="${@webUtils.validateString(slide.slideContents[0].content)}"></h4>
            <h2 class="dark-secondary-text-color fw-bold" th:utext="${@webUtils.validateString(slide.slideContents[1].content)}"></h2>
            <p class="text-white mt-4" th:utext="${@webUtils.validateString(slide.slideContents[2].content)}"></p>
            <a th:href="${@webUtils.validateString(slide.slideContents[4].content)}" target="_blank" class="btn text-white mt-4 health-card-btn px-4 fw-medium" th:utext="${@webUtils.validateString(slide.slideContents[3].content)}">Learn More</a>
        </div>
        <div class="col-md-6 primary-bg-color overflow-hidden p-0 rounded-end-4 no-border">
            <img th:src="${@webUtils.validateString(slide.slideContents[5].content)}" height="415" alt="" class="picture object-fit-cover ms-auto d-block rounded-start-0">
        </div>
    </div>

    <!-- About LINQ Section -->
    <div class="row p-2 p-md-1 mt-4 align-items-stretch" th:each="contentBlock : ${contentBlock3}" th:with="slide = ${contentBlock.slide[0]}">
        <div class="text-content col-md-7 rounded-start-4 no-border p-5">
            <h4 class="dark-secondary-text-color fw-bold" th:utext="${@webUtils.validateString(slide.slideContents[0].content)}"></h4>
            <h2 class="fw-bold primary-text-color mt-4" th:utext="${@webUtils.validateString(slide.slideContents[1].content)}"></h2>
            <p class="mb-4" th:utext="${@webUtils.validateString(slide.slideContents[2].content)}"></p>
            <a th:href="${@webUtils.validateString(slide.slideContents[4].content)}" target="_blank" class="btn text-white health-card-btn px-4 fw-medium" th:utext="${@webUtils.validateString(slide.slideContents[3].content)}">Learn More</a>
        </div>
        <div class="col-lg-5 d-flex align-items-center justify-content-center">
            <img th:src="${@webUtils.validateString(slide.slideContents[5].content)}" class="research-img" alt=""/>
        </div>
    </div>

    <!-- Data Stat Section -->
    <div class="row col-md-12 px-5" th:each="contentBlock : ${contentBlock4}">
        <div class="row gy-5 mt-0">
            <div class="col-6 col-md-3" th:each="slide : ${contentBlock.slide}">
                <div class="d-flex flex-column align-items-center justify-content-center gap-2">
                    <h1 class="display-5 fw-bold primary-text-color" th:utext="${@webUtils.validateString(slide.slideContents[0].content)}"></h1>
                    <p class="text-center regular-font fw-bold" th:utext="${@webUtils.validateString(slide.slideContents[1].content)}"></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Therapeutic Expertise Section -->
    <h3 class="dark-secondary-text-color fw-bold text-center" th:utext="${@webUtils.validateString(contentBlock5.content)}">Our Therapeutic Expertise</h3>
    <div th:replace="~{fragments/therapeutic-block :: therapeuticBlock(therapeutic=${therapeutic})}"></div>
</div>

<!-- Blue Section CTA -->
<div class="d-flex flex-wrap align-items-stretch mt-4" th:each="contentBlock : ${contentBlock6}" th:with="slide = ${contentBlock.slide[0]}">
    <div class="col-md-6 p-0 page-header">
        <img th:src="${@webUtils.validateString(slide.slideContents[0].content)}" alt="Why-LINQ" class="img-fluid w-100 h-100 section-image">
    </div>
    <div class="col-md-6 p-0 d-flex justify-content-center align-items-center section-content-wrapper primary-bg-color">
        <div class="section-content position-absolute">
            <h3 class="fw-bold primary-text-color pb-1" th:utext="${@webUtils.validateString(slide.slideContents[1].content)}"></h3>
            <h2 class="fw-bold text-white pt-1" th:utext="${@webUtils.validateString(slide.slideContents[2].content)}"></h2>
        </div>
    </div>
</div>

<div>
    <p class="w-75 m-auto text-center mt-4 regular-font lh-lg" th:utext="${@webUtils.validateString(contentBlock7.slide[0].slideTitle)}">
    </p>
</div>

<!-- iCOns-->
<div class="align-items-center row col-md-12 mt-5" th:each="contentBlock : ${contentBlock8}">
    <div class="col-md-3"></div>
    <div class="col-md-6 my-5 my-md-0">
        <div class="row gy-5" >
            <div class="col-6 col-md-4" th:each="slide : ${contentBlock.slide}">
                <div class="d-flex flex-column align-items-center justify-content-center gap-4" data-wow-delay="0.1s">
                    <img th:src="${@webUtils.validateString(slide.slideContents[0].content)}" alt="">
                    <p class="text-center regular-font" th:utext="${@webUtils.validateString(slide.slideContents[1].content)}"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

<!-- Your success -->
<div th:each="contentBlock : ${contentBlock9}" th:with="slide = ${contentBlock.slide[0]}">
    <h2 class="dark-secondary-text-color fw-bold text-center mt-5" th:utext="${@webUtils.validateString(slide.slideContents[0].content)}"></h2>
    <p class="w-75 m-auto text-center mt-4 regular-font lh-lg" th:utext="${@webUtils.validateString(slide.slideContents[1].content)}"></p>
    <a th:href="${@webUtils.validateString(slide.slideContents[2].content)}" target="_blank"
       class="d-block mx-auto my-3 mb-5 text-white rounded-3 text-decoration-none primary-bg-color joinAStudy-btn"
       th:utext="${@webUtils.validateString(slide.slideContents[3].content)}">Learn More</a>
</div>

<!-- Company Footer Section -->
<div th:replace="~{fragments/company-footer :: footerCode(cPageMetaData=${cPageMetaData})}"></div>
<!-- Footer -->
<div th:replace="~{fragments/footer :: footerCode(pageMetaData=${pageMetaData})}"></div>

<script type="text/javascript" src="/registration_form/js/jquery-2.2.3.min.js"></script>
</body>
</html>