<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header.html :: headerCode(title=${title}, pageMetaData=${pageMetaData}, cPageMetaData=${cPageMetaData})}"></head>

<body>
<!-- Dynamic navigation -->
<div th:replace="~{fragments/navigation.html :: navigationCode(pageMetaData=${pageMetaData}, cPageMetaData=${cPageMetaData}, navigation=${navigation})}"></div>

<div class="row align-items-stretch">
    <div class="col-md-12 page-header">
        <h2 class="fw-bold banner-text" th:utext="${@webUtils.validateString(contentBlock1.slide[0].slideContents[1].content)}">Meet Our Team</h2>
        <img th:src="${@webUtils.validateString(contentBlock1.slide[0].slideContents[0].content)}" width="100%" class="img-fluid">
    </div>
</div>

<div class="container-fluid">
    <h1 class="fw-bold dark-secondary-text-color text-center my-5 animate__animated animate__fadeInUp">Our Leadership Team</h1>

    <div class="row justify-content-center px-4 mb-5" th:each="memberBlock : ${contentBlock2}">
        <div class="col text-center" style="flex: 0 0 17%;" th:each="slide : ${memberBlock.slide}">
            <div class="member-card wow animate__animated animate__fadeInUp">
                <img th:src="${@webUtils.validateString(slide.slideContents[0].content)}" alt="">
                <div class="member-details rounded-1 text-white">
                    <h6 class="m-0 fs-6 fw-normal" th:utext="${@webUtils.validateString(slide.slideContents[1].content)}"></h6>
                    <small class="m-0 fw-light" th:utext="${@webUtils.validateString(slide.slideContents[2].content)}"></small>
                    <small class="m-0 fw-light" th:if="${slide.slideContents.size() > 3}" th:utext="${@webUtils.validateString(slide.slideContents[3].content)}"></small>
                </div>
            </div>
        </div>
    </div>

    <h1 class="fw-bold dark-secondary-text-color text-center my-5" >Research Staff</h1>

    <div class="row justify-content-center px-4 mb-5" th:each="staffBlock : ${contentBlock3}">
        <div class="col text-center" style="flex: 0 0 17%;" th:each="slide : ${staffBlock.slide}">
            <div class="member-card wow animate__animated animate__fadeInUp">
                <img th:src="${@webUtils.validateString(slide.slideContents[0].content)}" alt="">
                <div class="member-details rounded-1 text-white">
                    <h6 class="m-0 fs-5 fw-normal" th:utext="${@webUtils.validateString(slide.slideContents[1].content)}"></h6>
                    <small class="m-0 fw-light" th:utext="${@webUtils.validateString(slide.slideContents[2].content)}"></small>
                </div>
            </div>
        </div>
    </div>

<!--    <h1 class="fw-bold dark-secondary-text-color text-center my-5" th:utext="${@webUtils.validateString(contentBlock6.slide[0].slideContents[0].content)}">Our Investigators</h1>-->

<!--    <div class="row justify-content-center px-4 mb-5" th:each="investigatorBlock : ${contentBlock7}">-->
<!--        <div class="col text-center" style="flex: 0 0 17%;" th:each="slide : ${investigatorBlock.slide}">-->
<!--            <div class="member-card wow animate__animated animate__fadeInUp" th:attr="data-wow-delay=${slide.slideContents[3].content}">-->
<!--                <img th:src="${@webUtils.validateString(slide.slideContents[0].content)}" alt="">-->
<!--                <div class="member-details rounded-1 text-white">-->
<!--                    <h6 class="m-0 fs-5 fw-normal" th:utext="${@webUtils.validateString(slide.slideContents[1].content)}"></h6>-->
<!--                    <small class="m-0 fw-light" th:utext="${@webUtils.validateString(slide.slideContents[2].content)}"></small>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>

<div th:replace="~{fragments/company-footer.html :: footerCode(cPageMetaData=${cPageMetaData})}"></div>
<!-- Footer -->
<div th:replace="~{fragments/footer.html :: footerCode(pageMetaData=${pageMetaData})}"></div>
</body>
</html>
