
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Become a Principal Investigator | LINQ</title>
    <link rel="icon" href="image/favicon.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="css/form-css.css">
    <link rel="stylesheet" href="css/refer-friend-form.css">
    <script src="js/forms.js"></script>

    <style>
        .form-container {
    margin-top: 30px;
}
    </style>
</head>
<body>
<div class="form-container">
    <a class="logo-form" href="old.index.html">
        <img src="image/logo.png" alt="logo">
    </a>
    <form id="contact-form">
        <div class="form-group">
            <input type="text" id="first-name" placeholder=" " required minlength="2" maxlength="50">
            <label for="first-name">First Name*</label>
        </div>
        <div class="form-group">
            <input type="text" id="last-name" placeholder=" " required minlength="2" maxlength="50">
            <label for="last-name">Last Name*</label>
        </div>
        <div class="form-group">
            <input type="date" id="dob" required>
            <label for="dob">Date of Birth*</label>
        </div>
        <div class="form-group">
            <input type="tel" id="phone" class="phone" placeholder=" " required pattern="[\+]?[0-9-]*" minlength="10" maxlength="15">
            <label for="phone">Primary Phone Number*</label>
        </div>
        <div class="form-group">
            <input type="email" id="email" placeholder=" " minlength="8" maxlength="50" required>
            <label for="email">Email*</label>
        </div>
        <div class="form-group">
            <input type="text" id="speciality" placeholder=" " required>
            <label for="speciality">Speciality*</label>
        </div>
        <div class="form-group">
            <input type="text" id="state" placeholder=" " required>
            <label for="state">State*</label>
            <span class="error"></span>
        </div>
        <input type="hidden" id="pageName" value="become-principal-investigator">
        <p id="response-message"></p>
        <div class="md-btn">
            <button type="submit">Submit</button>
        </div>
        <p class="error"></p>
    </form>
</div>
</body>
</html>
