<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: headerCode(title=${title}, pageMetaData=${pageMetaData}, cPageMetaData=${cPageMetaData})}"></head>
<link rel="stylesheet" href="css/refer-friend.css">

<body>
<!-- Dynamic navigation -->
<div th:replace="~{fragments/navigation :: navigationCode(pageMetaData=${pageMetaData}, cPageMetaData=${cPageMetaData}, navigation=${navigation})}"></div>

<div class="container-fluid">
    <div class="row" th:each="contentBlock : ${contentBlock1}">
        <div class="investigator-header">
            <h2 class="text-white fw-bold animate__animated animate__fadeInUp" th:utext="${@webUtils.validateString(contentBlock.slide[0].slideContents[0].content)}">Refer a Friend</h2>
        </div>
    </div>

    <div class="container mb-4" th:each="contentBlock : ${contentBlock2}" th:with="slide = ${contentBlock.slide[0]}">
        <div class="row align-items-center">
            <!-- Text Content -->
            <div class="col-md-7 text-content">
                <h6 class="fw-bold heading" th:utext="${@webUtils.validateString(slide.slideContents[0].content)}">Join a Clinical Trial</h6>
                <h2 class="main-heading" th:utext="${@webUtils.validateString(slide.slideContents[1].content)}">Take the first step to a Brighter Future</h2>
                <p th:utext="${@webUtils.validateString(slide.slideContents[2].content)}"></p>
                <p th:utext="${@webUtils.validateString(slide.slideContents[3].content)}"></p>
                <p th:utext="${@webUtils.validateString(slide.slideContents[4].content)}"></p>
            </div>

            <!-- Image -->
            <div class="col-md-5 text-center mt-5">
                <img th:src="${@webUtils.validateString(slide.slideContents[5].content)}" style="width: 70%; border-radius: unset;" alt="Doctor with patient" class="img-circle" />
            </div>
        </div>

        <!-- Call to Action -->
        <div class="text-center mt-5" th:each="ctaBlock : ${contentBlock3}" th:with="ctaSlide = ${ctaBlock.slide[0]}">
            <h3 class="sub-heading" th:utext="${@webUtils.validateString(ctaSlide.slideContents[0].content)}">Interested in participating?</h3>
            <p class="mx-auto visit-content" th:utext="${@webUtils.validateString(ctaSlide.slideContents[1].content)}"></p>
            <a th:href="${@webUtils.validateString(ctaSlide.slideContents[2].content)}" class="custom-btn mb-5" th:utext="${@webUtils.validateString(ctaSlide.slideContents[3].content)}">Find a Trial</a>
        </div>
    </div>
</div>

<!-- Company Footer Section -->
<div class="row mt-5">
    <div th:replace="~{fragments/company-footer :: footerCode(cPageMetaData=${cPageMetaData})}"></div>
</div>

<!-- Footer -->
<div th:replace="~{fragments/footer :: footerCode(pageMetaData=${pageMetaData})}"></div>
<script type="text/javascript" src="/registration_form/js/jquery-2.2.3.min.js"></script>
</body>

</html>
