<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: headerCode(title=${title}, pageMetaData=${pageMetaData},cPageMetaData=${cPageMetaData})}">
</head>

<body>
<!-- Dynamic navigation -->
<div
        th:replace="~{fragments/navigation :: navigationCode(pageMetaData=${pageMetaData},cPageMetaData=${cPageMetaData},navigation=${navigation})}">
</div>
<div class="container-fluid">
    <div class="row">
        <div class="investigator-header">
            <h2 class="text-white fw-bold animate__animated animate__fadeInUp">Refer a Friend</h2>
        </div>
    </div>

    <div class="row align-items-stretch refer-friend-page my-5 content">
        <div class="col-md-6 p-5 rounded-start-4 no-border">
            <!-- <h2 class="dark-secondary-text-color wow animate__animated animate__fadeInUp  fw-bold ms-5">
              JOIN A CLINICAL RESEARCH STUDY
            </h2> -->
            <h2 class="dark-secondary-text-color wow animate__ animate__fadeInUp  fw-bold ms-3  animated" style="visibility: visible; animation-name: fadeInUp;">
                Refer a Friend
            </h2>
            <h4 class="text-white mt-4 animate__ animate__fadeInUp w-100 w-md-80 m-auto wow animate__ animate__fadeInUp d ms-3 animated txt-right animated" style="visibility: visible; animation-name: fadeInUp;">
                Spread the Word,
            </h4>

            <h3 class="text-white mt-3 animate__ animate__fadeInUp w-100 w-md-80 m-auto wow animate__ animate__fadeInUp d ms-3 animated txt-right animated" style="visibility: visible; animation-name: fadeInUp;">
                Share the Benefits!
            </h3>
        </div>
        <div class="col-md-6 overflow-hidden p-5 rounded-end-4 no-border align-items-center mobile-hide">
            <img src="image/refer-friend-page.png" height="320" alt="" class="wow animate__ animate__fadeInRight object-fit-cover  d-block rounded-start-5  animated" style="visibility: visible; animation-name: fadeInRight;">
        </div>
    </div>

    <div class="my-5">
        <h2 class="dark-secondary-text-color   fw-bold text-center mt-5">
            Know Someone Who'd Love to
            Join a Study?
        </h2>

        <p class="w-75 m-auto text-center mt-4 regular-font lh-lg">
            Spread the word and share your referral link!
            Earn fantastic rewards for each friend who
            qualifies and enrolls. It's a great way to help
            others and benefit together!

        </p>
    </div>

    <div class="my-5">
        <h2 class="dark-secondary-text-color   fw-bold text-center mt-5">
            Guidlines
        </h2>
        <ul style="list-style-type: square;">
            <li class="w-75 m-auto text-leftmt-4 regular-font lh-lg">Referral rewards are issued only if you are a
                participant in one of our studies and the
                referred individuals successfully enroll.
            </li>
            <li class="w-75 m-auto text-leftmt-4 regular-font lh-lg">There's no limit on the number of people you can refer or rewards you can earn.

            </li>
            <li class="w-75 m-auto text-leftmt-4 regular-font lh-lg">As soon as the patient enrolls, you'll receive
                your referral bonus in the form of a gift card.

            </li>
        </ul>

    </div>
</div>

<div class="row">
    <div class="company-footer">
        <h2 class="dark-secondary-text-color fw-bold">LINQ Research LLC.</h2>
        <p class="text-white fs-5">Join us in transforming lives through the power of accessible research
        </p>
        <a href="refer-friend-form.html"
           class="btn text-white mt-2 health-card-btn px-4 fw-medium" target="_blank">Participate Now</a>
    </div>
</div>

</div>

<!-- Footer -->
<div th:replace="~{fragments/footer :: footerCode(pageMetaData=${pageMetaData})}"></div>
</body>

</html>