<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: headerCode(title=${title}, pageMetaData=${pageMetaData},cPageMetaData=${cPageMetaData})}"></head>
<link rel="stylesheet" href="css/resources.css">
<link rel="stylesheet" href="css/news.css">

<body>
<div id="jsonData" th:data-json="${blogData}"></div>
<!-- Dynamic navigation -->
<div th:replace="~{fragments/navigation :: navigationCode(pageMetaData=${pageMetaData},cPageMetaData=${cPageMetaData},navigation=${navigation})}"></div>

<!-- Page Header -->
<div class="row">
    <div class="contact-header">
        <h2 class="text-white fw-bold animate__animated animate__fadeInUp">Resources</h2>
    </div>
</div>

<!-- Resources Grid -->
<div class="container-fluid resources-grid">
    <div class="row px-md-5 px-3" >
<!--        <div>-->
<!--            Blog count: <span th:text="${articlePage.size()}"></span>-->
<!--        </div>-->
        <th:block th:each="contentBlock, iterStat : ${articlePage}">
        <div class="col-xxxl-3 col-lg-4 col-md-6 mb-4" th:id="'contentBlock-' + ${iterStat.index}"
             th:classappend="${iterStat.index >= 10} ? 'd-none' : ''">
            <div class="resource-card" th:each="card : ${contentBlock.slide}">
                <div class="resource-image-container" >
                    <img th:src="${@webUtils.validateString(card.slideContents[0].content)}" class="resource-image" alt="">
                    <div class="resource-date-badge" th:text="${@webUtils.validateString(card.slideContents[1].content)}">Feb 24</div>
                    <div class="image-overlay"></div>
                </div>
                <div class="resource-content">
                    <h3 th:utext="${@webUtils.validateString(card.slideContents[2].content)}">Title</h3>
                    <p th:utext="${@webUtils.validateString(card.slideContents[3].content)}">Short description here...</p>
                    <a th:href="'blog.html?page=' + ${@webUtils.validateString(card.slideContents[2].content)}" target="_blank" class="resource-link">
                        Read More <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
        </th:block>

<!--        Pagination-->
        <div class="container-fluid px-lg-5 px-xl-3">
            <div class="row mt-5">
                <div class="col-12 d-flex justify-content-center">
                    <nav aria-label="News pagination">
                        <ul class="pagination mb-0" id="pagination">

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>


</div>

<!-- Footer -->
<div th:replace="~{fragments/footer :: footerCode(pageMetaData=${pageMetaData})}"></div>
<script type="text/javascript" src="/registration_form/js/jquery-2.2.3.min.js"></script>
<script src="js/resources.js"></script>
<script src="js/article.js"></script>

</body>

</html>
