<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: headerCode(title=${title}, pageMetaData=${pageMetaData}, cPageMetaData=${cPageMetaData})}">
</head>
<style>
    .stat-bg {
background-image: url(../image/12/WhatsApp-Image-2024-12-24-at-22.15.29_7431d39e.jpg);
}
</style>
<body>
<!-- Dynamic navigation -->
<div th:replace="~{fragments/navigation :: navigationCode(pageMetaData=${pageMetaData}, cPageMetaData=${cPageMetaData}, navigation=${navigation})}"></div>

<div class="row">
    <div class="contact-header">
        <h2 class="text-white fw-bold animate__animated animate__fadeInUp" th:utext="${@webUtils.validateString(contentBlock1.content)}">Partner with LINQ</h2>
    </div>
</div>

<div class="container-fluid container-xxl">
    <div class="my-5 row p-5 mt-2 mb-2 pb-2 align-items-center flex-column text-center" th:each="contentBlock : ${contentBlock2}" th:with="slide = ${contentBlock.slide[0]}">
        <h5 class="dark-secondary-text-color fw-bold" th:utext="${@webUtils.validateString(slide.slideContents[0].content)}">Why Choose LINQ</h5>
        <h2 class="primary-text-color fw-bold mt-0" th:utext="${@webUtils.validateString(slide.slideContents[1].content)}">Why Choose ?</h2>
        <p class="mt-2 regular-font lh-lg" th:utext="${@webUtils.validateString(slide.slideContents[2].content)}"></p>
    </div>

    <!-- Features Icons Section -->
    <div class="row col-md-12 mt-1" th:each="contentBlock : ${contentBlock3}">
        <div class="col-md-1"></div>
        <div class="col-md-10 pt-0 pb-0">
            <div class="row gy-5 justify-content-center">
                <div class="col-6 col-md-2" th:each="slide : ${contentBlock.slide}">
                    <div class="d-flex flex-column align-items-center justify-content-center gap-4">
                        <img th:src="${@webUtils.validateString(slide.slideContents[0].content)}" alt="" >
                        <p class="text-center facility-fnt" th:utext="${@webUtils.validateString(slide.slideContents[1].content)}"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

    <!-- Embrace Diversity Section -->
    <div class="row my-2 mt-0 px-4" th:each="contentBlock : ${contentBlock4}" th:with="slide = ${contentBlock.slide[0]}">
        <div class="col-12 col-md-7 order-md-1 order-2 d-flex flex-column gap-1 px-4 py-3 px-md-4 py-md-4">
            <h5 class="dark-secondary-text-color fw-bold" th:utext="${@webUtils.validateString(slide.slideContents[0].content)}"></h5>
            <h2 class="fw-bold primary-text-color" th:utext="${@webUtils.validateString(slide.slideContents[1].content)}"></h2>
            <p class="card-text fw-medium" th:utext="${@webUtils.validateString(slide.slideContents[2].content)}"></p>
        </div>
        <div class="col-12 col-md-5 order-md-2 order-1 middle-contents px-4 py-3 px-md-4 py-md-4 d-flex justify-content-center align-items-center">
            <div class="ratio ratio-1x1" style="max-width: 70%;">
                <img th:src="${@webUtils.validateString(slide.slideContents[3].content)}" alt="" class="rounded-circle object-fit-cover w-100 h-100">
            </div>
        </div>
    </div>

    <!-- Quality Data Section -->
    <div class="row my-2 mt-0" th:each="contentBlock : ${contentBlock5}" th:with="slide = ${contentBlock.slide[0]}">
        <div class="col-md-12 d-flex align-items-center flex-column text-center gap-4 p-5 pt-1 pb-3">
            <h2 class="card-title fw-bold mt-2 fs-2 dark-secondary-text-color fw-bold" th:utext="${@webUtils.validateString(slide.slideContents[0].content)}"></h2>
            <h5 class="fw-bold primary-text-color" th:utext="${@webUtils.validateString(slide.slideContents[1].content)}"></h5>
            <p class="card-text fw-medium mt-2" th:utext="${@webUtils.validateString(slide.slideContents[2].content)}"></p>
        </div>
    </div>

    <!-- Therapeutic Expertise Section -->
    <h3 class="fw-bold text-center dark-secondary-text-color" th:utext="${@webUtils.validateString(contentBlock6.content)}">Innovating Clinical Research for a Healthier Future</h3>
    <div th:replace="~{fragments/therapeutic-block :: therapeuticBlock(therapeutic=${contentBlock6})}"></div>

</div>

<!-- Blue Stats Section -->
<div class="row data-stats stat-bg justify-content-center px-3 px-md-5 mb-5" th:each="contentBlock : ${contentBlock7}">
    <div class="row gy-4 gy-md-5 mt-0">
        <div class="col-6 col-md-4 data-stat-item mb-5" th:each="slide : ${contentBlock.slide}">
            <div class="d-flex flex-column align-items-center justify-content-center gap-2">
                <h1 class="data-stat-number display-5 fw-bold text-white big-font" th:utext="${@webUtils.validateString(slide.slideContents[0].content)}"></h1>
                <h5 class="fw-bold text-center text-white" th:utext="${@webUtils.validateString(slide.slideContents[1].content)}"></h5>
            </div>
        </div>
    </div>
</div>

<!-- Company footer section -->
<div class="row">
    <div th:replace="~{fragments/company-footer :: footerCode(cPageMetaData=${contentBlock8})}"></div>
</div>
<!-- Footer -->
<div th:replace="~{fragments/footer :: footerCode(pageMetaData=${pageMetaData})}"></div>
</body>

</html>
