<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body th:fragment="footerCode(cPageMetaData)" th:each="contentBlock : ${cPageMetaData}">
<div th:each="slide : ${contentBlock.slide}">
	<div class="company-footer join-our-team">
		<h2 class="dark-secondary-text-color fw-bold" th:utext="${@webUtils.validateString(slide.slideContents[0].content)}">LINQ Research LLC.</h2>
		<p class="text-white fs-5" th:utext="${@webUtils.validateString(slide.slideContents[1].content)}">Join us in transforming lives through the power of accessible research
		</p>
		<a th:href="${@webUtils.validateString(slide.slideContents[3].content)}" target="_blank"
		   class="btn text-white mt-2 health-card-btn px-4 fw-medium" th:utext="${@webUtils.validateString(slide.slideContents[2].content)}">Participate Now</a>
	</div>
</div>
</body>

</html>


