<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body th:fragment="footerCode(pageMetaData)">
<!--Including Footer Page-->
<div class="container-fluid p-0 overflow-hidden">
    <!-- footer -->
    <footer class="p-4" style="background-color: #eee">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="image/logo.png" alt="" width="220"/>
                    <h5 class="fs-4 mt-3 ps-3">Connect with us</h5>
                    <div class="d-flex align-items-center gap-5 mt-4 ps-3">
                        <div>
                            <a href="#" th:href="${pageMetaData.fbUrl ?: '#'}" target="_blank"
                               class="text-decoration-none text-white">
                                <i class="bi bi-facebook fs-1 text-muted"></i>
                            </a>
                        </div>
                        <div>
                            <a href="#" th:href="${pageMetaData.xUrl ?: '#'}" target="_blank"
                               class="text-decoration-none text-white">
                                <i class="bi bi-twitter-x fs-1 text-muted"></i>
                            </a>
                        </div>
                        <div>
                            <a href="#" th:href="${pageMetaData.instaUrl ?: '#'}" target="_blank"
                               class="text-decoration-none text-white">
                                <i class="bi bi-instagram fs-1 text-muted"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 py-3">
                <h3 class="fw-bold">
                    Innovating Clinical Research for a Healthier Future
                </h3>
                <div class="row">
                    <div class="col-md-4">
                        <ul class="list-unstyled mt-5">
                            <h5 class="fs-4 text-muted mb-4">Quick Links</h5>
                            <li class="fs-5">
                                <a href="clinical-trials/index.html"
                                   class="fs-6 fw-medium text-decoration-none text-muted">
                                    Clinical Trial
                                </a>
                            </li>
                            <li class="fs-5">
                                <a href="team/index.html" class="fs-6 fw-medium text-decoration-none text-muted">
                                    Our Team
                                </a>
                            </li>
                            <li class="fs-5">
                                <a href="location/index.html" class="fs-6 fw-medium text-decoration-none text-muted">
                                    Our Location
                                </a>
                            </li>
                            <li class="fs-5">
                                <a href="faqs/index.html" class="fs-6 fw-medium text-decoration-none text-muted">
                                    FAQs
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-unstyled mt-5">
                            <h5 class="fs-4 text-muted mb-4">Join Now</h5>
                            <li class="fs-5">
                                <a href="join-clinical-trial/index.html"
                                   class="fs-6 fw-medium text-decoration-none text-muted">
                                    Join a Clinical Trial
                                </a>
                            </li>
                            <li class="fs-5">
                                <a href="enrolling/index.html" class="fs-6 fw-medium text-decoration-none text-muted">
                                    Enroll in a Study
                                </a>
                            </li>
                            <li class="fs-5">
                                <a href="join-clinical-research-study/index.html"
                                   class="fs-6 fw-medium text-decoration-none text-muted">
                                    Join a Research Study
                                </a>
                            </li>
                            <li class="fs-5">
                                <a href="contact/index.html" class="fs-6 fw-medium text-decoration-none text-muted">Contact
                                    Us </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-unstyled mt-5">
                            <h5 class="fs-4 text-muted mb-4">Contact Us</h5>
                            <li class="fs-6 fw-medium text-muted d-flex gap-2 mb-2">
                                <i class="bi bi-geo-alt-fill text-muted"></i>
                                <span th:utext="${pageMetaData.address ?: 'Field is empty'}" class="text-muted">address </span>
                            </li>
                            <li class="fs-6 fw-medium  text-muted d-flex gap-2 mb-2">
                                <a href="#" th:href="'tel:' + (${pageMetaData.phoneNumber ?: ''})"
                                   class="text-decoration-none d-flex gap-2"
                                   target="_blank">
                                    <i class="bi bi-telephone-fill text-muted"></i>
                                    <span th:utext="${pageMetaData.phoneNumber ?: 'Field is empty'}" class="text-muted">Telephone Number</span>
                                </a>
                            </li>
                            <li class="fs-6 fw-medium  text-muted d-flex gap-2">
                                <a href="#" th:href="'mailto:' + (${pageMetaData.email ?: ''})"
                                   class="text-decoration-none d-flex gap-2"
                                   target="_blank">
                                    <i class="bi bi-envelope-fill text-muted"></i>
                                    <span th:utext="${pageMetaData.email ?: 'Field is empty'}" class="text-muted">email id</span>
                                </a>
                            </li>
                        </ul>
                        <small
                                class="d-inline-flex m-3 px-2 py-1 fw-semibold text-success-emphasis
                                bg-success-subtle border border-success-subtle
                                rounded-2" th:utext="${pageMetaData.version ?: 'Field is empty'}">version</small>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<script type="text/javascript" src="js/hooks.min4fdd.js?ver=4d63a3d491d11ffd8ac6"
        id="wp-hooks-js"></script>
<script type="text/javascript" src="js/i18n.minc33c.js?ver=5e580eb46a90c2b997e6"
        id="wp-i18n-js"></script>
<script type="text/javascript" id="wp-i18n-js-after">
    /* <![CDATA[ */
    wp.i18n.setLocaleData({ 'text direction\u0004ltr': ['ltr'] });
    /* ]]> */
</script>
<script type="text/javascript" src="js/swv/js/index1eb7.js?ver=6.0."
        id="swv-js"></script>
<script type="text/javascript" src="js/index1eb7.js?ver=6.0.3"
        id="contact-form-7-js"></script>
<script type="text/javascript" src="js/bootstrap.bundle.mind1c0.js?ver=6.7.2"
        id="bootstrap-js"></script>
<script type="text/javascript" src="js/wow.mind1c0.js?ver=6.7.2"
        id="wow-js"></script>
<script type="text/javascript" id="wow-js-after">
    /* <![CDATA[ */
    document.addEventListener("DOMContentLoaded", function () { new WOW().init(); });
    /* ]]> */
</script>
<script type="text/javascript" src="js/slick.mind1c0.js?ver=6.7.2"
        id="slick-js-js"></script>
<script type="text/javascript" id="slick-js-js-after">
    /* <![CDATA[ */

    jQuery(document).ready(function ($) {
      $('.word-carousel').slick({
        vertical: true,
        autoplay: true,
        autoplaySpeed: 1500,
        dots: false,
        arrows: false,
        pauseOnHover: false,
        draggable: false
      });
    });

    /* ]]> */
</script>
<script type="text/javascript" src="js/indexd1c0.js?ver=6.7.2"
        id="customJs-js"></script>

</body>
</html>
