<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>404 Error Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <script>
    addEventListener("load", function () {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <!-- font files -->
  <link href="http://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Rancho" rel="stylesheet">
  <!-- /font files -->
  <!-- css files -->
  <link href="/error/css/style.css" rel="stylesheet" type="text/css" media="all" />
  <link href="/error/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />

  <!-- /css files -->
</head> 
<body style="height: 100vh;">

  <div class="container-w3layouts  text-center">
    <br>
    <!---728x90--->
    <h2 class="txt-wthree">error 404</h2>
    <p>Looks like the page you are trying to visit does not exist
      <br> Please check the URL and Try again.
    </p>
    <div class="home">
      <a href="/">home</a>
    </div>
  </div>
  <!---728x90--->
  <div class="w3_agile-footer">
    <p th:utext="#{email.footer(${year})}"> &copy; 2017 Sleet. All Rights Reserved | Design by
      <a href="#" target="=_blank">ARJ</a>
    </p>
  </div>

</body>

</html>