.research-img{
border-radius: 50%;
height:400px;
width: 400px;
margin-left: 50px;
margin-top: 50px;
}

.learn-btn{
  top: 20px;
  margin-left:10px ;
  margin-bottom: 40px;
  padding: 8px;
}


/* Container height adjustment */
.why-join-section {
    height: 500px; /* Adjust as per your need */
  }
  
  /* Left side image styling */
  .section-image {
    object-fit: cover;
    height: 100%;
  }
  /* Right side background and content styling */
  .section-content-wrapper {
    background-color: #002B5B;
    position: relative;
  }
  
  .section-content {
    background: #FFB13A;
    padding: 50px 40px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
    top: 50%;
    left: 16%;
    transform: translate(-50%, -50%);
        width: 70%;
        height: 60%;
  }
  
