.research-img{
border-radius: 50%;
height:400px;
width: 400px;
margin-left: 50px;
margin-top: 50px;
}

.learn-btn{
  top: 20px;
  margin-left:10px ;
  margin-bottom: 40px;
  padding: 8px;
}


/* Container height adjustment */
.why-join-section {
    height: 500px; /* Adjust as per your need */
  }
  
  /* Left side image styling */
  .section-image {
    object-fit: cover;
    height: 100%;
  }
  /* Right side background and content styling */
  .section-content-wrapper {
    background-color: #002B5B;
    position: relative;
  }
  

