.refer-friend {
    background-image: url('/image/12/WhatsApp-Image-2024-12-24-at-22.15.29_7431d39e.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 370px; 
  } 
  
  @media only screen and (max-width: 600px) {  

    .mobile-hide {
        display: none;
    } 

    .p-5 {
        padding: 2rem !important;
    }

    .txt-right {
        padding-right: 14px;
    }
}
