.form-container { 
    margin-top: 10% !important;
    /* margin-bottom: 10%; */
    margin-bottom: 30px;
    width: 650px;
}

button {
    display: block; margin-left: auto;
    margin-right: 40px;
}

 /* Mobile (Landscape) and small tablets */
@media screen and (max-width: 1024px) {
    .form-container {  
        width: 90% !important;
    }
}