/* Remove fieldset borders and spacing */
.form-container fieldset {
  border: 0;          /* Removes the border */
}

/* Style the legend to be visible but without affecting layout */
.form-container legend {
  padding: 0;         /* Remove default padding */
  margin-bottom: 1em; /* Optional: Add space below legend */
  font-weight: bold;  /* Make legend text stand out */
  width: 100%;        /* Ensure full width */
}

button {
    display: block;
}



 /* Mobile (Landscape) and small tablets */
@media screen and (max-width: 1024px) {
    .form-container {
        width: 90% !important;
    }
}

@media (max-width: 768px) {
  .form-container select {
       width: 100%;
    }
    .btn-refer-form {
    width: 100%;
    }
    .form-container {
        border-radius: 0 !important;
    }
}
