<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page Metadata</title>
</head>
<body>

<h1>Page Metadata Details</h1>

<!-- Print individual fields -->
<p><strong>Phone Number:</strong> <span th:utext="${pageMetaData.phoneNumber}">Default Phone Number</span></p>
<p><strong>Email:</strong> <span th:text="${pageMetaData.email}">Default Email</span></p>
<p><strong>Facebook URL:</strong> <span th:text="${pageMetaData.fbUrl}">Default FB URL</span></p>
<p><strong>X URL:</strong> <span th:text="${pageMetaData.xUrl}">Default X URL</span></p>
<p><strong>Instagram URL:</strong> <span th:text="${pageMetaData.instaUrl}">Default Instagram URL</span></p>
<p><strong>Login URL:</strong> <span th:text="${pageMetaData.loginUrl}">Default Login URL</span></p>
<p><strong>Logo Image URL:</strong> <span th:text="${pageMetaData.logoImgUrl}">Default Logo Image URL</span></p>
<p><strong>Logo URL:</strong> <span th:text="${pageMetaData.logoUrl}">Default Logo URL</span></p>
<p><strong>Button Text:</strong> <span th:text="${pageMetaData.buttonText}">Default Button Text</span></p>
<p><strong>Button URL:</strong> <span th:text="${pageMetaData.buttonUrl}">Default Button URL</span></p>
<p><strong>Bottom Header:</strong> <span th:text="${pageMetaData.bottomHeader}">Default Bottom Header</span></p>
<p><strong>Version:</strong> <span th:text="${pageMetaData.version}">Default Version</span></p>

</body>
</html>
