<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <th:block th:insert="~{admin_panel/header.html}"></th:block>
</head>

<body>
<div id="wrapper">
  <!-- Start Navigation -->
  <th th:replace="~{admin_panel/navigation :: navigateCode(firstName=${firstName})}"></th>
  <!-- End Navigation -->

  <div id="page-wrapper">
    <div class=" graphs">

      <div class="xs">
        <h3 id="header">Appointment Lead :
        </h3>
      </div>

      <div class="clearfix"> </div>

      <div class="grid_3 grid_5">
        <div class="but_list mg-t-0">
          <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">

            <div id="myTabContent" class="tab-content mg-t-0">

              <form action="#" method="GET" class="row">
                <div class="col-md-6">
                  <div class="input-group">
                    <input type="text" name="search" class="form-control1 input-search" placeholder="Search...">
                    <span class="input-group-btn">
                <button class="btn btn-success" type="button"><i class="fa fa-search"></i></button>
            </span>
                  </div>
                </div>

                <div class="col-md-6">
                  <select name="disease" id="diseaseSelect" class="form-control1">
                    <option>----------- Select the disease -----------</option>
                  </select>
                </div>
              </form>


              <div role="tabpanel" class="tab-pane fade active in" id="pages" aria-labelledby="pages-tab">
                <div class=" pd-0">
                  <div class="mailbox-content pd-0">
                    <div class="mail-toolbar clearfix pd-t-0">

<!--                      <div class="float-left pd-t-20"> -->
<!--                        <div class="btn btn_1 btn-default mrg5R">-->
<!--                          <i class="fa fa-refresh"> </i>-->
<!--                        </div> -->
<!--                        <div class="clearfix"> </div>-->
<!--                      </div>-->

                      <div id="pagination" class="float-right pd-t-20">
                        <span id="paginationText" class="text-muted m-r-sm">Showing 0 of 0</span>
                        <div class="btn-group">
                          <a id="prevPage" class="btn btn-default"><i class="fa fa-angle-left"></i></a>
                          <a id="nextPage" class="btn btn-default"><i class="fa fa-angle-right"></i></a>
                        </div>
                      </div>


                    </div>
                    <table class="table">
                      <thead>
                      <tr>
                        <th>Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Created At</th>
                        <th>Follow Back Status</th>
                        <th> </th>
                      </tr>
                      </thead>
                      <tbody>
                      <!-- Rows will be dynamically inserted here -->
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>

              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"> </div>
      <div class="padding-t-15">
        <!----Footer-->
        <th:block th:insert="~{admin_panel/footer.html}"></th:block>
        <!----Footer-->
      </div>
    </div>

  </div>

  <script src="js/common.js"></script>
  <script src="js/appointment_lead.js"></script>

  <!-- Modal to display lead data -->
  <div class="modal fade" id="viewPatientData" tabindex="-1" role="dialog" aria-labelledby="viewPatientDataLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h2 class="modal-title text-center">Display Appointment Data</h2>
          </div>
          <div class="modal-body">
            <div class="row stats-info stats-info1">
              <div class="panel-body panel-body2 col-md-6 pd-t-0 pad-rf-0">
                <ul class="list-unstyled">
                  <li>First Name:<div class="text-success pull-right first-name"></div></li>
                  <li>Last Name:<div class="text-success pull-right last-name"></div></li>
                  <li>Phone Number:<div class="text-success pull-right phone-number"></div></li>
                  <li>Email:<div class="text-success pull-right email"></div></li>
                  <li>Date Of Birth:<div class="text-success pull-right dob"></div></li>
                </ul>
              </div>
              <div class="panel-body panel-body2 col-md-6 pd-t-0">
                <ul class="list-unstyled">
                  <li>Zip Code:<div class="text-success pull-right zip-code"></div></li>
                  <li>Best Contact Time:<div class="text-success pull-right best-time-contact"></div></li>
                  <li>State:<div class="text-success pull-right state"></div></li>
                  <li>Submitted At:<div class="text-success pull-right created-at"></div></li>
                  <li>Updated At:<div class="text-success pull-right updated-at"></div></li>
                  <li>Updated By:<div class="text-success pull-right updated-by"> </div></li>
                </ul>
              </div>
            </div>

            <label >Follow Back Status:</label>
            <select id="followBack" name="followBack" class="form-control1 control3" required>
              <option value="">Select Follow Back Status</option>
              <option>New Referral - Not Contacted</option>
              <option>Does Not Qualify (DNQ)</option>
              <option>Contact Attempt - 1</option>
              <option>Contact Attempt - 2</option>
              <option>Contact Attempt - 3</option>
              <option>Scheduled for Pre-screening</option>
              <option>Scheduled for Screening</option>
              <option>Not Interested</option>
              <option>Patient Pre-screened</option>
              <option>Patient Screened</option>
              <option>Do not Contact - (non-compliant)</option>
            </select>
            <input type="hidden" id="rowId" value="0">
            <label>Enter Comment</label>
            <input type="text" id="comment" class="form-control1 control3" required>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-primary">Reset</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Modal End -->


</div>

</body>

</html>