<div class="copy">
    <p>Copyright &copy; <span id="current_year"></span> LINQ. All Rights Reserved | Design by <a
            href="https://itrtechsystems.com/" target="_blank">ITR Consulting</a> </p>
</div>

<!-- Metis Menu Plugin JavaScript -->
<script src="/admin_panel/js/metisMenu.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/admin_panel/js/metisMenu.min.js"></script>

<!-- Graph JavaScript -->
<script src="/admin_panel/js/d3.v3.js"></script>
<script src="/admin_panel/js/rickshaw.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/admin_panel/js/bootstrap.min.js"></script>

<script src="/admin_panel/js/custom.js"></script>

<script>
    var currentDate = new Date();
    var currentYear = currentDate.getFullYear();
    $("#current_year").html(currentYear);

function formatDate(dateString) {
    // Convert UTC timestamp to CST (UTC-5)
    var date = new Date(dateString);
    date.setHours(date.getHours() - 5); // Subtract 5 hours for CST

    // Format the date into a readable format
    var options = {
        year: 'numeric',
        month: 'long',
        day: 'numeric',
        hour: '2-digit',
        minute: '2-digit',
        second: '2-digit',
        hour12: true
    };

    // Return the formatted date
    return date.toLocaleString('en-US', options) + " CST";
}

</script>