<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      sec:authorize="hasRole('ROLE_ADMIN')">

<head>
  <th th:replace="admin_panel/header.html"></th>

<style>
  .fnt-bold {
  font-weight: bold;
}
</style>
</head>

<body>
  <div id="wrapper">
    <!-- Start Navigation -->
    <th th:replace="~{admin_panel/navigation :: navigateCode(firstName=${firstName})}"></th>
    <!-- End Navigation -->

    <div id="page-wrapper">
      <div class="graphs">

        <div class="xs">
          <h3>Page Metadata</h3>
        </div>

        <div class="clearfix"> </div>

        <div class="col-md-12 pd-0">
          <div class="Compose-Message">
            <div class="panel panel-default">
              <div class="panel-heading">
                Update Page Metadata
              </div>
              <form>
                <div class="panel-body">
                  <div class="col-md-6">

                  </div>
                  <div class="col-md-3">
                    <label class="fnt-bold">  Updated By : <span id="updatedBy"></span></label>
                  </div>
                  <div class="col-md-3">
                    <label class="fnt-bold"> Last  Updated At : <span id="updatedAt"></span></label>
                  </div>
                <div class="col-md-12">
                    <label>  Font Family Code : (Optional)</label> 
                    <textarea rows="3" class="form-control1 control1" name="font_family"></textarea>
                  </div>
                  <div class="col-md-12">
                    <label> * Bottom Header  : </label>
                    <input type="text" class="form-control1 control3" name="bottom_header" required>
                  </div>
                  <div class="col-md-3">
                    <label> * Facebook URL : </label>
                    <input type="text" class="form-control1 control3" name="fb_URL" required>
                  </div>
                  <div class="col-md-3">
                    <label> * Instagram URL : </label>
                    <input type="text" class="form-control1 control3" name="insta_URL" required>
                  </div>
                  <div class="col-md-3">
                    <label> * Twitter URL : </label>
                    <input type="text" class="form-control1 control3" name="x_URL" required>
                  </div>
                  <div class="col-md-3">
                    <label> * Login URL : </label>
                    <input type="text" class="form-control1 control3" name="login_URL" required>
                  </div>
                  <div class="col-md-3">
                    <label> * Upload Logo image : </label>
                    <a href="#" target="_blank" class="float-right" id="loadLogoURL"><label> [LOGO]</label></a>
                    <input type="file" class="form-control1 control3" id="uploadImage" accept="image/*" style="padding-top: 9px;">
                    <input type="hidden" id="logo_img_url" name="logo_img_url">
                  </div>
                  <div class="col-md-3">
                    <label> * Logo Anchor URL : </label>
                    <input type="text" class="form-control1 control3" name="logo_URL" required>
                  </div>


                  <div class="col-md-3">
                    <label> * Button Text : </label>
                    <input type="text" class="form-control1 control3" name="button_text" required>
                  </div>
                  <div class="col-md-3">
                    <label> * Button URL : </label>
                    <input type="text" class="form-control1 control3" name="button_URL" required>
                  </div>
                  <div class="col-md-3">
                    <label> * Address : </label>
                    <input type="text" class="form-control1 control3" name="address" required>
                  </div>

                  <div class="col-md-3">
                    <label> * Phone Number : </label>
                    <input type="text" class="form-control1 control3" name="phone_number" required>
                  </div>
                  <div class="col-md-3">
                    <label> * Official Email : </label>
                    <input type="email" class="form-control1 control3" name="email" required>
                  </div>
                  <div class="col-md-3">
                    <label> * Website version : </label>
                    <input type="text" class="form-control1 control3" name="version" required>
                  </div>

                  <div class="col-md-12">
                    <label> SEO/Google Analytics Code : (Optional)</label>
                    <textarea rows="3" class="form-control1 control1" name="seo_code"></textarea>
                  </div>


                  <div class="form-group col-md-12">
                    <p id="error-message" style="color: red; display: none;"></p>
                    <p id="success-message" style="color: green; display: none;"></p>
                    <br>
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="reset" class="btn btn-default">Reset</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="clearfix"> </div>
        <div class="padding-t-15">
          <!----Footer-->
          <th th:replace="admin_panel/footer.html"></th>
          <!----Footer-->
        </div>
      </div>
    </div>
  </div>
  <script src="js/page_metadata.js"></script>
</body>

</html>