<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      sec:authorize="hasRole('ROLE_ADMIN')">

<head>
    <th th:replace="admin_panel/header.html"></th>
</head>

<body>
<div id="wrapper">
    <!-- Start Navigation -->
    <th th:replace="~{admin_panel/navigation.html :: navigateCode(firstName=${firstName})}"></th>
    <!-- End Navigation -->

    <div id="page-wrapper">
        <div class=" graphs">

            <div class="xs">
                <h3>Web Pages</h3>
            </div>

            <div class="clearfix"></div>

            <div class="grid_3 grid_5">
                <div class="but_list mg-t-0">
                    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#pages" id="Pages-tab" role="tab"
                                                                      data-toggle="tab"
                                                                      aria-controls="pages"
                                                                      aria-expanded="true">Pages</a></li>
                            <li role="presentation" class=""><a href="#content_blocks" id="content_blocks-tab"
                                                                role="tab"
                                                                data-toggle="tab" aria-controls="content_blocks"
                                                                aria-expanded="true">Content Blocks</a></li>
                            <li role="presentation" class=""><a href="#slides" role="tab" id="slides-tab"
                                                                data-toggle="tab"
                                                                aria-controls="slides" aria-expanded="false">Slides</a>
                            </li>
                            <li role="presentation" class=""><a href="#slide_contents" role="tab"
                                                                id="slide_contents-tab"
                                                                data-toggle="tab" aria-controls="slide_contents"
                                                                aria-expanded="false">Slide Contents</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">

                            <!-- pages tab -->
                            <div role="tabpanel" class="tab-pane fade active in" id="pages" aria-labelledby="pages-tab">
                                <form action="#" method="GET">
                                    <div class="input-group">
                                        <input type="text" id="pageSearchInput" class="form-control1 input-search"
                                               placeholder="Search...">
                                        <span class="input-group-btn" id="pageSearchBtn">
                      <button class="btn btn-success" type="button"><i class="fa fa-search"></i></button>
                    </span>
                                    </div><!-- Input Group -->
                                </form>
                                <div class=" pd-0">
                                    <div class="mailbox-content pd-0">
                                        <div class="mail-toolbar clearfix pd-t-0">
                                            <div class="float-left pd-t-20">
                                                <div class="btn btn_1 btn-default mrg5R" id="addPageFunction">
                                                    <i class="fa fa-plus"> </i>
                                                </div>

                                                <div class="btn btn_1 btn-default mrg5R" id="page_reload">
                                                    <i class="fa fa-refresh"> </i>
                                                </div>

                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="float-right pd-t-20">
                                                <span class="text-muted m-r-sm">Showing 0 of 0</span>
                                                <div class="btn-group">
                                                    <a class="btn btn-default"><i class="fa fa-angle-left"></i></a>
                                                    <a class="btn btn-default"><i class="fa fa-angle-right"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                        <table id="webPageTable" class="table">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Page name</th>
                                                <th>Page title</th>
                                                <th>Status</th>
                                                <th>Updated</th>
                                                <th>Updated By</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>

                            <!-- content blocks tab -->
                            <div role="tabpanel" class="tab-pane fade in" id="content_blocks"
                                 aria-labelledby="content_blocks-tab">
                                <div class=" pd-0">
                                    <div class="mailbox-content pd-0">
                                        <div class="float-left pd-b-20 pd-t-20">
                                            <div class="btn btn_1 btn-default mrg5R" id="addContentBlockFunction">
                                                <i class="fa fa-plus"> </i>
                                            </div>

                                            <div class="clearfix"></div>
                                        </div>

                                        <table id="contentBlockTable" class="table">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Content Block Name</th>
                                                <th>Page File Name</th>
                                                <th>Updated</th>
                                                <th>Updated By</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                            <!-- Slide tab -->
                            <div role="tabpanel" class="tab-pane fade" id="slides" aria-labelledby="slides-tab">
                                <div class="pd-0">
                                    <div class="mailbox-content pd-0">
                                        <div class="float-left pd-b-20 pd-t-20">
                                            <div class="btn btn_1 btn-default mrg5R" id="addSlideFunction">
                                                <i class="fa fa-plus"> </i>
                                            </div>

                                        </div>
                                        <table id="slideTable" class="table">
                                            <thead>
                                            <tr>
                                                <th>Order Index</th>
                                                <th>Slide Title</th>
                                                <th>Content Block Title</th>
                                                <th>Page Name</th>
                                                <th>Updated</th>
                                                <th>Updated By</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!-- Data rows will be inserted here dynamically -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                            <!--Slide contents tab -->
                            <div role="tabpanel" class="tab-pane fade" id="slide_contents"
                                 aria-labelledby="slide_contents-tab">

                                <div class="pd-0">
                                    <div class="mailbox-content pd-0">
                                        <div class="float-left pd-b-20 pd-t-20">
                                            <div class="btn btn_1 btn-default mrg5R" id="addSlideContentFunction">
                                                <i class="fa fa-plus"> </i>
                                            </div>

                                        </div>

                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Order</th>
                                                <th>Type</th>
                                                <th>Content</th>
                                                <th>Slide Title</th>
                                                <th>Content Block Title</th>
                                                <th>Page</th>
                                                <th>Updated</th>
                                                <th>Updated By</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody id="slideContentTableBody">
                                            <!-- Data will be populated here -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="padding-t-15">
                <!----Start Footer-->
                <th th:replace="admin_panel/footer.html"></th>
                <!----End Footer-->
            </div>
        </div>

    </div>

    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

    <script src="js/page.js"></script>
    <script src="js/content_block.js"></script>
    <script src="js/slide.js"></script>
    <script src="js/slide_content.js"></script>

    <!-------------------- Page Code Block Start -------------------->
    <!-- addPage PopUp Start -->
    <div class="modal fade" id="addPage" tabindex="-1" role="dialog" aria-labelledby="addPageLabel" aria-hidden="true"
         style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" onsubmit="return false;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h2 class="modal-title text-center">Add Page</h2>
                    </div>
                    <div class="modal-body">
                        <div class="panel-body">
                            <label>Web pages file Name : (Only for reference)</label>
                            <select class="form-control1 control3 webPageSelect" required>
                                <option value="">Check the web pages files</option>
                            </select>
                            <label>Page Name : </label>
                            <input type="text" name="slug" class="form-control1 control3" required>
                            <label>Select Status : </label>
                            <select name="status" class="form-control1 control3" required>
                                <option>PUBLISHED</option>
                                <option>DRAFT</option>
                            </select>
                            <label>Enter Title : </label>
                            <input type="text" name="title" class="form-control1 control3" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="addWebPage">Save</button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div>
    <!-- addPage PopUp End -->

    <!-- updatePage PopUp Start -->
    <div class="modal fade" id="updatePage" tabindex="-1" role="dialog" aria-labelledby="updatePageLabel"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" onsubmit="return false;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h2 class="modal-title text-center">Update Page</h2>
                    </div>
                    <div class="modal-body">
                        <div class="panel-body">
                            <label>Page Name : </label>
                            <input type="text" name="updateSlug" class="form-control1 control3" required>
                            <label>Select Status : </label>
                            <select name="updateStatus" class="form-control1 control3" required>
                                <option>PUBLISHED</option>
                                <option>DRAFT</option>
                            </select>
                            <label>Enter Title : </label>
                            <input type="text" name="updateTitle" class="form-control1 control3" required>
                            <input type="hidden" name="rowId" value="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div>
    <!-- updatePage PopUp End -->

    <!-------------------- Page Code Block End -------------------->

    <!-------------------- Content Code Block End -------------------->
    <!-- Add Content Block PopUp Start -->
    <div class="modal fade" id="addContentBlock" tabindex="-1" role="dialog" aria-labelledby="addContentBlockLabel"
         aria-hidden="true" style="display: none;">
        <input type="hidden" id="pageIdCB">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h2 class="modal-title text-center">Add Content Block</h2>
                    </div>
                    <div class="modal-body">
                        <div class="panel-body">
                            <label>Page Name: </label>
                            <input type="text" name="pageName" class="form-control1 control3" required readonly>

                            <label>Enter Title Header: </label>
                            <input type="text" name="titleHeader" class="form-control1 control3" required>

                            <label>Enter order Index: </label>
                            <input type="number" name="orderIndex" class="form-control1 control3" maxlength="1"
                                   required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Add Content Block PopUp End -->

    <!-- Update Content Block  PopUp Start -->
    <div class="modal fade" id="updateContentBlock" tabindex="-1" role="dialog"
         aria-labelledby="updateContentBlockLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h2 class="modal-title text-center">Update Content Block</h2>
                    </div>
                    <div class="modal-body">
                        <div class="panel-body">
                            <label>Page Name: </label>
                            <input type="text" name="updatePageName" class="form-control1 control3" required readonly>

                            <label>Enter Title Header: </label>
                            <input type="text" name="updateTitleHeader" class="form-control1 control3" required>

                            <label>Enter order Index: </label>
                            <input type="number" name="updateOrderIndex" class="form-control1 control3" maxlength="1"
                                   readonly required>
                            <input type="hidden" id="CBrowId" value="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Update Content Block PopUp End -->
    <!-------------------- Content Code Block End -------------------->

    <!-------------------- Slide Code Block Start -------------------->
    <!-- Add Slide PopUp Start -->
    <div class="modal fade" id="addSlide" tabindex="-1" role="dialog" aria-labelledby="addSlideLabel" aria-hidden="true"
         style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h2 class="modal-title text-center">Add Slide</h2>
                    </div>
                    <div class="modal-body">
                        <div class="panel-body">
                            <label>Content Block Name: </label>
                            <input type="text" name="CBName" class="form-control1 control3" required readonly>
                            <input type="hidden" id="CBIdSlide" value="1">
                            <label>Enter Slide Title: </label>
                            <input type="text" name="slideTitle" class="form-control1 control3" required>

                            <label>Enter order Index: </label>
                            <input type="number" name="slideOrderIndex" class="form-control1 control3" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Add Slide PopUp End -->

    <!-- Update Slide PopUp Start -->
    <div class="modal fade" id="updateSlide" tabindex="-1" role="dialog" aria-labelledby="updateSlideLabel"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h2 class="modal-title text-center">Update Slide</h2>
                    </div>
                    <div class="modal-body">
                        <div class="panel-body">
                            <label>Content Block Name: </label>
                            <input type="text" name="updateCBName" class="form-control1 control3" required readonly>
                            <label>Enter Slide Title: </label>
                            <input type="text" name="updateSlideTitle" class="form-control1 control3" required>
                            <input type="hidden" id="sliderowId" value="">
                            <label>Enter order Index: </label>
                            <input type="number" name="updateSlideOrderIndex" class="form-control1 control3" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Add Slide PopUp End -->
    <!-------------------- Slide Code Block End -------------------->

    <!-------------------- Slide-Content Code Block Start -------------------->
    <!-- Add Slide Content PopUp Start -->
    <div class="modal fade" id="addSlideContent" tabindex="-1" role="dialog" aria-labelledby="addSlideContentLabel"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h2 class="modal-title text-center">Add Slide Content</h2>
                    </div>
                    <div class="modal-body">
                        <div class="panel-body">
                            <label>Select Slide: </label>
                            <input type="hidden" id="SlideIdSC" value="0">
                            <label>Select Content Type: </label>
                            <select name="contentTypeSG" id="contentTypeSG" class="form-control1 control3" required>
                                <option value="">Select Content Type</option>
                                <option>TEXT</option>
                                <option>BUTTON</option>
                                <option>IMAGE</option>
                                <option>URL</option>
                                <option>DISEASE_NAME</option>
                            </select>

                            <div class="imageUpload1"> </div>

                            <label class="contentSCLb">Enter Slide Content: </label>
                            <textarea name="contentSG" rows="4" class="form-control1 contentSG" placeholder="Enter your content here..." required></textarea>

                            <!-- Quill editor container -->
                            <!-- <div id="toolbar"></div> -->

                            <!--                            <button type="button" id="custom-color-button" class="custom-color-picker">A</button>-->
                            <!--                            <input type="color" id="color-picker" style="display:none;">-->
                            <!--                            <div id="editor" class="editorText"></div>-->
                            <!--                            <input type="hidden" class="form-control1 control3" name="slide_content">-->

                            <!--                            <label>Custom CSS Code: </label>-->
                            <!--                            <input type="text" name="customCss" class="form-control1 control3" required>-->
                            <!-- <div class="line-numbers" id="lineNumbers"></div> -->

                            <label>Enter order Index: </label>
                            <input type="number" name="orderIndexSC" class="form-control1 control3" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="reset" class="btn btn-primary">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Add Slide Content PopUp End -->

    <!-- Update Slide Content PopUp Start -->
    <div class="modal fade" id="updateSlideContent" tabindex="-1" role="dialog"
         aria-labelledby="updateSlideContentLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h2 class="modal-title text-center">Add Slide Content</h2>
                    </div>
                    <div class="modal-body">
                        <div class="panel-body">
                            <label>Select Slide: </label>
                            <input type="hidden" id="SCrowId" value="0">
                            <label>Select Content Type: </label>
                            <select name="updateContentTypeSG" class="form-control1 control3 contentTypeSG" required
                                    disabled>
                                <option value="">Select Content Type</option>
                                <option>TEXT</option>
                                <option>BUTTON</option>
                                <option>IMAGE</option>
                                <option>URL</option>
                                <option>DISEASE_NAME</option>
                            </select>

                            <div class="imageUpload"></div>

                            <label class="contentSCLb" style="display: none">Enter Slide Content: </label>
                            <textarea name="updateContentSG" rows="4" class="form-control1 contentSG"
                                      placeholder="Enter your content here..." style="display: none"
                                      required></textarea>

                            <!-- Quill editor container -->
                            <!-- <div id="toolbar"></div> -->

                            <!--                            <button type="button" id="custom-color-button" class="custom-color-picker">A</button>-->
                            <!--                            <input type="color" id="color-picker" style="display:none;">-->
                            <!--                            <div id="editor" class="editorText"></div>-->
                            <!--                            <input type="hidden" class="form-control1 control3" name="slide_content">-->

                            <!--                            <label>Custom CSS Code: </label>-->
                            <!--                            <input type="text" name="customCss" class="form-control1 control3" required>-->
                            <!-- <div class="line-numbers" id="lineNumbers"></div> -->

                            <label>Enter order Index: </label>
                            <input type="number" name="updateOrderIndexSC" class="form-control1 control3" required
                                   readonly>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="reset" class="btn btn-primary">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Add Slide PopUp End -->
    <!-------------------- Slide Code Block End -------------------->

</div>

</body>

</html>